<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마케팅 정보 수신동의</title>
  <link rel="stylesheet" th:href="@{/css/Setting.css}">
  <link rel="stylesheet" th:href="@{/css/e.css}">
</head>
<body>
  <div class="container">
    <div class="header"></div>
    <div class="contents">
      
      <h4>이벤터스 광고성정보 수신동의서비스를 위한</h4>
      <h2>개인정보 수집 및 이용 · 제공에 관한 동의서</h2>
      <p>주식회사 이벤터스은/는 수집한 개인정보를 관리함에 있어서 「정보통신망 이용촉진 및 정보보호등에 관한법률」에서 규정하고 있는 책임과 의무를 준수하고 있습니다. 개인 정보 수집 및 이용과 관련하여 다음의 몇 가지 사항을 안내 드리오니, 관련내용을 숙지하신 후 해당 내용에 동의하여 주시기 바랍니다.</p>

      <h5>◼ 개인정보 수집·이용 동의(선택)</h5>
      <p>이벤터스 광고성정보 수신동의 서비스 이용자의 개인정보를 수집하는 목적은 다음과 같습니다.</p>
      <table style="color: black;">
 
       
      <tr>
          <td>수집목적</td>
          <td>수집항목</td>
          <td>보유/이용기간</td>
      </tr>
      <tr>
        <td>- 정기 뉴스레터 발송 <br>
          - 신규 기능 및 서비스 홍보 및 이용 권유</td>
        <td>이메일, 이름, 회사명</td>
        <td>회원탈퇴 또는 동의철회 시</td>
    </tr>
  
      
      
  </table>


      <p>- 동의를 거부할 권리가 있으며, 동의 거부 시 회원가입을 통한 기본서비스 이용은 가능하나, 광고 및 이벤트 안내 등의 서비스가 제한됩니다.</p>
    </div>
    <div class="footer"></div>
  </div> 
</body>
</html>