<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <style>
  </style>
  <link rel="stylesheet" th:href="@{/css/Setting.css}">
  <link rel="stylesheet" th:href="@{/css/join.css}">
</head>

<body>

  <div class="container">

    <!-- 일반 회원가입 폼 -->
    <form th:action="@{/joinForm}" method="post" id="joinForm" onsubmit="return validateForm()"><br>

      <h3 style="color: #00ce80; font-size: 3rem;">회원가입</h3>
      <!-- <h3 style="color: #9c9c9c;">일반인 회원가입</h3> -->

      <div class="join_box">
        
        <div class="email_auth">
          <input type="email" placeholder="이메일" name="email" id="email" class="email" required>
          <button type="submit" onclick="sendVerificationCode()" id="email_auth_btn" class="email_auth_btn"
            aria-required="true">인증번호
            받기</button>
        </div>

        <div class="email_Check">
          <input type="email_Check_key" placeholder="인증번호 입력" class="email_Check_key" id="email_Check_key"
            name="email_Check_key" required>
          <button type="submit" onclick="checkVerificationCode()" id="email_Check_btn" class="email_Check_btn"
            aria-required="true">인증번호
            확인</button>
        </div>

        <input type="text" class="mid_id" name="mid_id" id="mid_id" placeholder="아이디">
        <label for="mid_id" id="id"></label> 

        <input type="text" class="mid_nickname" name="mid_nickname" id="mid_nickname" placeholder="닉네임">
        <label for="mid_nickname" id="nickname"></label> 

        <input type="password" placeholder="비밀번호" name="password" id="password" required>
        <input type="password" placeholder="비밀번호  확인" name="password_ck" id="password_ck" required>
        <label for="pwConfirm" id="pwConfirm"></label>
      
      </div>

      <div class="c">
        <input type="checkbox" id="id_a" name="all" >
        <label for="agree">전체동의</label> <br>

        <input type="checkbox" id="id_b" name="agree" required>
        <label for="agree">[필수] 만 14세 이상입니다.</label> <br>
        <input type="checkbox" id="id_c" name="agree" required>
        <label for="agree">[필수] 이용약관
          <a style="text-decoration: underline;" href="../JoinPage/c.html" target="_blank">보기</a>
        </label><br>
        <input type="checkbox" id="id_d" name="agree" required>
        <label for="agree"> [필수] 개인정보 수집·이용 동의서
          <a style="text-decoration: underline;" href="../JoinPage/d.html" target="_blank">보기</a>
        </label><br>
        
        <input type="checkbox" id="id_e" name="agree">
        <label for="agree">[선택] 마케팅 정보 수신동의
          <a style="text-decoration: underline;" href="../JoinPage/e.html" target="_blank">보기</a>
        </label><br>
        <input type="checkbox" id="id_f" name="agree">
        <label for="agree">[선택] 개인정보 수집·이용 동의서
          <a style="text-decoration: underline;" href="../JoinPage/d.html" target="_blank">보기</a>
        </label><br>
      </div>

      <button type="submit" id="join" class="join_btn">가입하기</button>

    </form>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/join.js">

  </script>

</body>

</html>