<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업인 인증</title>
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
    <link rel="stylesheet" th:href="@{/css/cer.css}">

</head>
<body>

<div class="container">
    <h1>기업인 인증</h1>
    <hr>
    <form th:action="@{/authn/request/company}" th:object="${entercer}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit()">
        <label for="name">이름:</label>
        <input type="text" th:field="*{name}" id="name" name="name" required> <br>
        <input type="text" id="phone" name="phone" required> <br> -->
        <label for="company">회사 링크:</label>
        <input type="text" th:field="*{link}" id="link" name="link"> <br> 
        <label for="file">증명서 첨부:</label>
        <input type="file" th:field="*{file}" id="file" name="file" accept=".pdf, .jpg, .jpeg, .png" required>
        <input type="submit" value="인증 신청">
    </form>
</div>

<script>
    function confirmSubmit() {
        return confirm("인증신청하시겠습니까?");
    }
</script>

</body>
</html>
