<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
    <link rel="stylesheet" th:href="@{/css/mypage1.css}">
</head>
<body>

    <div th:replace="~{/Fragment/header :: headerFragment}"></div>


    <!-- Contents Start-->
    <section class="Contents">
        <!-- tag Start -->
        <div class="sidebar">
            <h3>My Page</h3>
            <div class="sidebar-list">
                
      <nav>
        <br>
		<ul class="list">

			<li><a class="B" th:href="@{/userUpdate}" target="_self">- 내정보 수정</a></li> <br>
			<li><a class="A" th:href="@{/savelist}" target="_self">- 관심 목록</a></li> <br>
			<li><a class="C" th:href="@{/authn}" target="_self">- 관계자 인증</a></li><br>
			<li><a class="R" th:href="@{/mypage4}" target="_self">- 내 글 관리</a></li> <br>
		</ul>
      </nav>
    </div>
        </div>

        <!-- side End -->
        

        <!-- content-list Start -->
        <div class="content-list">
            <div class="search-result">
                <div><span class="content-cnt"></span><span><h3>관심목록</h3></span></div>
                <!-- 내글관리-> 관심목록 으로 변경 -20240415허서진 -->
                <div class="list-btn">
             <!-- <span class="a"> ▷ 총 12개의 게시물이 있습니다.</span> -->
                    <!-- <a href="#">추천순</a>
                    <a href="#">업데이트순</a>
                    <a href="#">모집 마감일순</a> -->
                </div>
            </div>
    
            <div class="board-content">
                <div class="carousel-box">
                    <div th:each="post,index : ${map.posts}" class="carousel-box">
                        <img th:src="${imageLinks[__${index.index}__]}" alt="img">
                        <div class="startDate" th:text="${post.eventStart}"></div>
                        <div class="title" th:text="${post.postName}"></div>
                        <div class="space-between">

                            <!-- <div class="visit" th:text="${post.visitCnt}"><span>조회</span><span>500</span></div> -->
                            <div th:each="like : ${map.list}" th:if="${like.postID==post.postID}">
                                <div><a th:href="@{/savelist/delete/{likeID}(likeID = ${like.likeID})}" class="deleteLink">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div><a href="#">
                        <button type="button" id="btnDelete" class="deleteLink">관심 삭제</button>
                    </a></div>
                    <button type="button" id="btnList">목록</button> -->
                </div>
            </div>
            <div class="pagination">
                <button class="btn1" onclick="backBtn()"><i class="fa-solid fa-angle-left"></i>이전</button>
                <ul class="pagination-ul">
                    <li class="link active" value="1" onclick="activeLink()">1</li>
                    <li class="link" value="2" onclick="activeLink()">2</li>
                    <li class="link" value="3" onclick="activeLink()">3</li>
                    <li class="link" value="4" onclick="activeLink()">4</li>
                    <li class="link" value="5" onclick="activeLink()">5</li>
                </ul>
                <button class="btn2" onclick="nextBtn()">다음<i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        <!-- content-list End -->

    </section>
    <!-- tagAndContent End-->


    <div th:replace="~{/Fragment/footer :: footerFragment}"></div>


    <script th:src="@{/js/BorderListPageCompany.js}"></script>
    <script>
        $(function(){
           $("#btnList").click(function(){
              location.href="/board";
           });
        
           $("#btnDelete").click(function(){
              if(confirm("관심 목록을 삭제하시겠습니까?")){
                 location.href="/like/deleteAll";
              }
           });
        
           $("a.deleteLink").click(function(e){
              if(!confirm("삭제하시겠습니까?")){
                 e.preventDefault();
              }
           });
           
           // 관심 목록 비었을 때 실행
           document.addEventListener('DOMContentLoaded', () => {
                   const emptyMessage = document.getElementById('emptyMessage');
                   const list = document.getElementById('list');
           
                   if (list.children.length === 0) {
                       emptyMessage.style.display = 'block';
                   } else {
                       emptyMessage.style.display = 'none';
                   }
               });
        });
        </script>
</body>
</html>