<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>마이페이지3</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/Setting.css}">
	<link rel="stylesheet" th:href="@{/css/mypage3.css}">
</head>

<body>
	<div th:replace="~{/Fragment/header :: headerFragment}"></div>

	<!-- Contents Start-->
	<section class="Contents">
		<!-- tag Start -->
		<div class="sidebar">
			<h3>My Page</h3>
			<div class="sidebar-list">
				<!-- 리스트 위치가 어긋나있는거 바로잡음 -20240415허서진 -->
				<nav> <br>
					<ul class="list">
						<li><a class="B" th:href="@{/mypage/userupdate}" target="_self">- 내정보 수정</a></li> <br>
						<li><a class="A" th:href="@{/mypage/savelist}" target="_self">- 관심 목록</a></li> <br>
						<li><a class="C" th:href="@{/mypage/authn}" target="_self">- 관계자 인증</a></li><br>
						<li><a class="R" th:href="@{/mypage/mypage4}" target="_self">- 내 글 관리</a></li> <br>
					</ul>
				</nav>
			</div>
		</div>

		<!-- side End -->


		<!-- content-list Start -->
		<div class="content">
			<div class="list">
				<div><span class="title"></span><span>
						<h3>관계자 인증</h3>
					</span></div>
				<!-- <div class="list-btn">
                    <a href="#">추천순</a>
                    <a href="#">업데이트순</a>
                    <a href="#">모집 마감일순</a>
                </div> -->
			</div>

			<div class="board-content">
				<div class="box">
					<div class="box1">
						<h4>기 업 인</h4>
						<a th:href="@{/authn/request/company}">인증하기</a>
					</div>
					<div class="box2">
						<h4>예 술 인</h4>
						<a th:href="@{/authn/request/artist}">인증하기</a>
					</div>

				</div>

				<!-- <div class="pagination">
                <button class="btn1" onclick="backBtn()"><i class="fa-solid fa-angle-left"></i>이전</button>
                <ul class="pagination-ul">
                    <li class="link active" value="1" onclick="activeLink()">1</li>
                    <li class="link" value="2" onclick="activeLink()">2</li>
                    <li class="link" value="3" onclick="activeLink()">3</li>
                    <li class="link" value="4" onclick="activeLink()">4</li>
                    <li class="link" value="5" onclick="activeLink()">5</li>
                </ul>
                <button class="btn2" onclick="nextBtn()">다음<i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div> -->
				<!-- content-list End -->

	</section>
	<!-- tagAndContent End-->

	<div th:replace="~{/Fragment/footer :: footerFragment}"></div>
</body>

</html>