<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
    <link rel="stylesheet" th:href="@{/css/mypage1.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <!-- header Start -->
	<div th:replace="~{/Fragment/header :: headerFragment}"></div>
    


    <!-- Contents Start-->
    <section class="Contents">
        <!-- tag Start -->
        <div class="sidebar">
            <h3>My Page</h3>
            <div class="sidebar-list">
                
      <nav>
        <br>
		<ul class="list">
			<th:block th:if="${session['loggedInUser'] != null and !isAdmin}">
				<li><a class="B" th:href="@{/userUpdate}" target="_self">- 내정보 수정</a></li> <br>
				<li><a class="A" th:href="@{/savelist}" target="_self">- 관심 목록</a></li> <br>
				<li><a class="C" th:href="@{/authn}" target="_self">- 관계자 인증</a></li><br>
				<li><a class="R" th:href="@{/mypost}" target="_self">- 내 글 관리</a></li> <br>
			</th:block>
		
			<th:block th:if="${session['loggedInUser'] != null and isAdmin}">
				<li><a class="B" th:href="@{/userUpdate}" target="_self">- 내정보 수정</a></li> <br>
				<li><a class="A" th:href="@{/savelist}" target="_self">- 관심 목록</a></li> <br>
				<li><a th:href="@{/admin/auth}" class="select">- 관계자 인증 확인</a></li><br>
				<li><a class="R" th:href="@{/mypost}" target="_self">- 내 글 관리</a></li> <br>
			</th:block>
		</ul>
      </nav>
    </div>
        </div>

        <!-- side End -->
        

        <!-- content-list Start -->
        <div class="content-list">
            <div class="search-result">
                <div><span class="content-cnt"></span><span><h3>관심목록</h3></span></div>
                <!-- 내글관리-> 관심목록 으로 변경 -20240415허서진 -->
                <div class="list-btn">
             <!-- <span class="a"> ▷ 총 12개의 게시물이 있습니다.</span> -->
                    <!-- <a href="#">추천순</a>
                    <a href="#">업데이트순</a>
                    <a href="#">모집 마감일순</a> -->
                </div>
            </div>
    
            <div class="board-content">
                <div th:each="post,index : ${map.posts}" class="carousel-box">
                    <img th:src="${imageLinks[__${index.index}__]}" alt="img">
                    <div class="startDate" th:text="${post.eventStart}"></div>
                    <div class="title" th:text="${post.postName}"></div>
                    <div class="space-between">
                        <div class="visit" ><span>조회수 </span><span th:text="${post.visitCnt}">500</span></div>
                        <div th:each="like : ${map.list}" th:if="${like.postID==post.postID}">
                            <div><a th:href="@{/savelist/delete/{likeID}(likeID = ${like.likeID})}" class="deleteLink">삭제</a></div>
                        </div>
                    </div>
                    
                </div>
                
            </div>

        </div>
        <!-- content-list End -->

    </section>
    <!-- tagAndContent End-->


    <!-- footer start -->
	<div th:replace="~{/Fragment/footer :: footerFragment}"></div>

	<script>
		$(document).ready(function () {
			// 검색 버튼 클릭 이벤트
			$('#search-btn').on('click', function (e) {
				e.preventDefault(); // 기본 동작 막기
				if (validateSearch()) { // 검색어 유효성 검사
					performSearch();
				}
			});

			// 검색어 입력 필드에서 엔터 키 이벤트
			$('#keyword').keypress(function (e) {
				if (e.which == 13) { // 눌린 키가 엔터 키인 경우
					e.preventDefault(); // 기본 동작 막기
					if (validateSearch()) { // 검색어 유효성 검사
						performSearch();
					}
				}
			});

			// 검색 실행 함수
			function performSearch() {
				var categoryID = $('#categoryID').val();
				var url = "/search";
				url = url + "?searchType=" + $('#searchType').val();
				url = url + "&keyword=" + $('#keyword').val();
				location.href = url;
			}

			// 검색어 유효성 검사 함수
			function validateSearch() {
				var keyword = document.getElementById("keyword").value.trim();
				if (keyword === "") {
					document.getElementById("searchError").style.display = "block";
					return false;
				} else {
					document.getElementById("searchError").style.display = "none";
					return true;
				}
			}
		});
	</script>
</body>
</html>