<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>닉네임 재설정</title>
  <link rel="stylesheet" th:href="@{/css/Setting.css}">
  <link rel="stylesheet" th:href="@{/css/nrs.css}">
</head>
<body>
  <div class="container">
    <div class="header"></div>
    <div class="contents">
      <h3>닉네임 재설정</h3>
      <br>
      <p>닉네임을 재입력해주세요.</p>
      <br>
      <form th:action="@{/userUpdate/namemodify}" id="findIdForm" method="post">
        닉네임 입력 <input type="text" id="userName" name="userName" placeholder="닉네임">
		<p th:if="${errorMessage}" class="error" style="color: red" th:text="${errorMessage}"></p>
		<br><br><br><br><br><br> 
        <input type="submit" value="확인" onclick="return checkNickname()">
      </form>
    </div>
    <div class="footer"></div>

    <script>
      function checkNickname() {
        // 컨트롤러에서 처리함
        var nickname = document.getElementById("userName").value;
        var nicknameError = document.getElementById("nicknameError");
        
        return true;
      }
    </script>
  </div>
</body>
</html>
