<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardListPageArtist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/Setting.css">
    <link rel="stylesheet" href="../../static/css/BoardListPageArtist.css">
</head>
<body>
    <!-- header Start -->
    <header class="header">

        <nav class="navbar">
            <!-- upper (logo, searchbar, login, acount, likelist) -->
            <div class="container">
                <!-- logo -->
                <a href="#" class="logo">
                    <img src="../../static/images/logo-01.png" alt="">
                </a>
                <div>
                    <form action="" class="search-bar">
                        <input type="text" placeholder=" 참여하고 싶은 행사나 프로젝트를 검색해보세요" name="q" id="">
                        <div class="fas fa-search" id="search-btn"></div>
                    </form>
                </div>
                <div class="link1">
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                    <a href="#">관심목록</a>
                </div>
            </div>

            <!-- category -->
            <div class="category">
                <div class="category-list">
                    <span>카테고리</span>
                    <div class="fas fa-solid fa-chevron-down"></div>

                    <!-- dropdown menu -->
                <ul class="dropdown">
                    <li><a href="#">컨퍼런스</a></li>
                    <li><a href="#">세미나</a></li>
                    <li><a href="#">펀딩</a></li>
                </ul>
                </div>
                <a href="#">기업행사</a>
                <a href="#">예술인 펀딩</a>
                <a href="#">서비스 소개</a>
                <a href="#">Q & A</a>
                <a href="#">행사개설</a>
            </div>
        </nav>
    </header>
    <!-- header End -->


    <!-- img slider start -->
    <section class="img-slider">
        <div class="slider">
            <div class="slides">
                <!-- radio btn start -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">
                <!-- radio btn end -->
                <!-- slide img start -->
                <div class="slide first">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img1.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img2.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img3.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img4.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img5.png" alt="">
                    </a>
                </div>
                <!-- slide img end -->
            </div>
        </div>
    </section>
    

    <!-- tagAndContent Start-->
    <section class="tagAndContent">
        <!-- tag Start -->
        <div class="filter-reset">
            <div class="filter-announcement">
                <div class="filter-tag">필터 태그</div>
                <a href="#">태그 초기화</a>
            </div>

            <div class="select-tag">
                <div class="time-tag">
                    <div class="time-btn bold">일시</div>
                    <input type="radio" name="time" value="time-1" checked><span>모든 날</span>
                    <br>
                    <input type="radio" name="time" value="time-2"><span>오늘</span>
                    <br>
                    <input type="radio" name="time" value="time-3"><span>이번주</span>
                    <br>
                    <input type="radio" name="time" value="time-4"><span>이번달</span>
                    <br>
                    <input type="checkbox" name="time" value="time-5"><span>종료된 펀딩</span>
                </div><br>
                
                <div class="genre-tag">
                    <div class="genre-btn bold">장르</div>
                    <input type="checkbox" name="genre" value="genre-1"><span>액션</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-2"><span>범죄</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-3"><span>SF</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-4"><span>코미디</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-5"><span>로맨스</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-6"><span>스릴러</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-7"><span>공포</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-8"><span>전쟁</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-9"><span>스포츠</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-10"><span>판타지</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-11"><span>음악/뮤지컬</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-12"><span>애니메이션</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-13"><span>추리</span>
                </div> <br>

                <div class="form-tag">
                    <div class="form-btn bold">형식 및 양식</div>
                    <input type="checkbox" name="form" value="form-1"><span>무성</span>
                    <br>
                    <input type="checkbox" name="form" value="form-2"><span>흑백</span>
                    <br>
                    <input type="checkbox" name="form" value="form-3"><span>단편</span>
                    <br>
                    <input type="checkbox" name="form" value="form-4"><span>장편</span>
                    <br>
                </div><br>


                <div class="benefits-tag">
                    <div class="benefits-btn bold">투자혜택</div>
                    <input type="checkbox" name="benefits" value="benefits-1"><span>고정수익</span>
                    <br>
                    <input type="checkbox" name="benefits" value="benefits-2"><span>손익분배</span>
                    <br>
                    <input type="checkbox" name="benefits" value="benefits-3"><span>혜택지급</span>
                    <br>
                </div><br>
            </div>
        </div>
        <!-- tag End -->
        

        <!-- content-list Start -->
        <div class="content-list">
            <div class="search-result">
                <div><span class="content-cnt">132 </span><span>개의 행사가 검색되었습니다</span></div>
                <div class="list-btn">
                    <a href="#">추천순</a>
                    <a href="#">업데이트순</a>
                    <a href="#">모집 마감일순</a>
                </div>
                
            </div>
    
            <div class="board-content">
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/ArtistBoardListExam/moviePoster.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">악마가 깨어났다!  THE 씬 SIN</div>
                    <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
               
                
            </div>

            <!-- write board btn -->
            <div class="write-btn">
                <button>프로젝트 개설</button>
            </div>
    
            <div class="pagination">
                <button class="btn1" onclick="backBtn()"><i class="fa-solid fa-angle-left"></i>이전</button>
                <ul class="pagination-ul">
                    <li class="link active" value="1" onclick="activeLink()">1</li>
                    <li class="link" value="2" onclick="activeLink()">2</li>
                    <li class="link" value="3" onclick="activeLink()">3</li>
                    <li class="link" value="4" onclick="activeLink()">4</li>
                    <li class="link" value="5" onclick="activeLink()">5</li>
                </ul>
                <button class="btn2" onclick="nextBtn()">다음<i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        <!-- content-list End -->

    </section>
    <!-- tagAndContent End-->

    


    <!-- footer start -->
    <footer class="footer">

        <div class="footer-first">
            <div class="link-list">
                <a href="#">기업행사</a>
                <a href="#">예술인 펀딩</a>
                <a href="#">서비스 소개</a>
                <a href="#">Q & A</a>
                <a href="#">공지사항</a>
            </div>
        </div>

        <div class="footer-third">
            <div class="link-title">서비스 이용 문의</div>
            <div>채팅상담 (평일 10:00~17:00)</div>
            <div>사업 제휴 문의 whiosemail@event-tree.kr</div>         
        </div>

        <div class="footer-four">
            <div class="link-title company">EVENTREE</div>
            <div>(주)이벤트리 | 사업자등록번호 000-00-00000</div>
            <div>통신판매업 신고번호 제0000-0000-0000호</div>
            <div>대표 신유경 | 개인정보책임자 DB관리자</div>
            <div>광주특별시 광산구 무진대로 무역회관 7층</div>
            <!-- <div class="warning">
                이벤트리는 통신판매중개자이며 행사에 대한 당사자 및 주최자가 아닙니다. 따라서 이벤트리는 등록된 행사에 대해 책임지지 않습니다
            </div> -->
        </div> 
        
        <div class="footer-second">
            <div class="link-list">
                <a href="#">서비스 이용 약관</a>
                <a href="#">개인정보처리방침</a>
                <a href="#">이메일 주소 무단수집 거부</a>
            </div>         
        </div>
        
        

        <div class="footer-down">
            <div class="copyright">
                ⓒ 2024. EVENTREE All Rights Reserved.
            </div>
            <div class="sns">
                <a href="#">X</a>
                <a href="#">인스타</a>
                <a href="#">카카오톡</a>
                <a href="#">유튜브</a>
            </div>
            <!-- 나중에 sns 로고 이미지로 교체할것 -->
        </div>

    </footer>



<script src="../../static/js/BoardListPageArtist.js"></script>
</body>
</html>