<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardListPageCompany</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
  	<link rel="stylesheet" th:href="@{/css/BoardListPageCompany.css}">
</head>
<body>
    <!-- header Start -->
	<div th:replace="~{/Fragment/header :: headerFragment}"></div>


    <!-- img slider start -->
    <section class="img-slider">
        <div class="slider">
            <div class="slides">
                <!-- radio btn start -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">
                <!-- radio btn end -->
                <!-- slide img start -->
                <div class="slide first">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img1.png}" alt="">
                    </a>
                </div>
              
                <div class="slide">
                    <a href="#">
                       <img th:src="@{/images/headerSlideImgExam/header-img2.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img3.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img4.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img5.png}" alt="">
                    </a>
                </div>
                <!-- slide img end -->
            </div>
        </div>
    </section>
    

    <!-- tagAndContent Start-->
    <section class="tagAndContent">
        <!-- tag Start -->
        <div class="filter-reset">
            <div class="filter-announcement">
                <div class="filter-tag">필터 태그</div>
                <a href="#">태그 초기화</a>
            </div>

            <div class="select-tag">
                <div class="time-tag">
                    <div class="time-btn bold">일시</div>
                    <input type="radio" name="time" value="time-1" checked><span>모든 날</span>
                    <br>
                    <input type="radio" name="time" value="time-2"><span>오늘</span>
                    <br>
                    <input type="radio" name="time" value="time-3"><span>이번주</span>
                    <br>
                    <input type="radio" name="time" value="time-4"><span>이번달</span>
                    <br>
                    <input type="checkbox" name="time" value="time-5"><span>종료된 행사</span>
                </div><br>
                
                <div class="location-tag">
                    <div class="location-btn bold">지역</div>
                    <input type="checkbox" name="location" value="location-1"><span>서울/경기/인천</span>
                    <br>
                    <input type="checkbox" name="location" value="location-2"><span>부산/울산/경남</span>
                    <br>
                    <input type="checkbox" name="location" value="location-3"><span>대구/경북</span>
                    <br>
                    <input type="checkbox" name="location" value="location-4"><span>충청/대전/세종</span>
                    <br>
                    <input type="checkbox" name="location" value="location-5"><span>전라/광주</span>
                    <br>
                    <input type="checkbox" name="location" value="location-6"><span>강원</span>
                    <br>
                    <input type="checkbox" name="location" value="location-7"><span>제주</span>
                    <br>
                </div> <br>

                <div class="field-tag">
                    <div class="field-btn bold">행사분야</div>
                    <input type="checkbox" name="field" value="field-1"><span>창업</span>
                    <br>
                    <input type="checkbox" name="field" value="field-2"><span>IT/프로그래밍</span>
                    <br>
                    <input type="checkbox" name="field" value="field-3"><span>라이프</span>
                    <br>
                    <input type="checkbox" name="field" value="field-4"><span>경제/금융</span>
                    <br>
                    <input type="checkbox" name="field" value="field-5"><span>경영</span>
                    <br>
                    <input type="checkbox" name="field" value="field-6"><span>인문/사회</span>
                    <br>
                    <input type="checkbox" name="field" value="field-7"><span>마케팅</span>
                    <br>
                    <input type="checkbox" name="field" value="field-8"><span>커리어</span>
                    <br>
                    <input type="checkbox" name="field" value="field-9"><span>과학기술</span>
                    <br>
                    <input type="checkbox" name="field" value="field-10"><span>의료/의학</span>
                    <br>
                    <input type="checkbox" name="field" value="field-11"><span>예술/디자인/영상</span>
                    <br>
                    <input type="checkbox" name="field" value="field-12"><span>관광/여행</span>
                    <br>
                    <input type="checkbox" name="field" value="field-13"><span>기획</span>
                    <br>
                    <input type="checkbox" name="field" value="field-14"><span>기타</span>
                    <br>
                </div><br>

                <div class="type-tag">
                    <div class="type-btn bold">행사유형</div>
                    <input type="checkbox" name="type" value="type-1"><span>강연/세미나</span>
                    <br>
                    <input type="checkbox" name="type" value="type-2"><span>멘토링/대외활동</span>
                    <br>
                    <input type="checkbox" name="type" value="type-3"><span>대회/공모전</span>
                    <br>
                    <input type="checkbox" name="type" value="type-4"><span>워크샵/클리닉</span>
                    <br>
                    <input type="checkbox" name="type" value="type-5"><span>콘테스트/콩쿠르</span>
                    <br>
                    <input type="checkbox" name="type" value="type-6"><span>박람회/페어/축제</span>
                    <br>
                    <input type="checkbox" name="type" value="type-7"><span>기타</span>
                    <br>
                </div><br>

                <div class="participation-tag">
                    <div class="time-btn bold">일시</div>
                    <input type="radio" name="participation" value="participation-1" checked><span>전체</span>
                    <br>
                    <input type="radio" name="participationp" value="participation-2"><span>온라인</span>
                    <br>
                    <input type="radio" name="participation" value="participation-3"><span>오프라인</span>
                </div><br>

                <div class="cost-tag">
                    <div class="cost-btn bold">가격</div>
                    <input type="radio" name="cost" value="cost-1" checked>전체
                    <br>
                    <input type="radio" name="cost" value="cost-2"><span>무료</span>
                    <br>
                    <input type="radio" name="cost" value="cost-3"><span>유료</span>
                </div><br>

            </div>

        </div>

        <!-- tag End -->
        

        <!-- content-list Start -->
        <div class="content-list">
            <div class="search-result">
			<div><span class="content-cnt" th:text="${posts.getTotalElements()}"></span><span>개의 행사가 검색되었습니다</span></div>
                <div class="list-btn">
	                    <a th:href="@{|/board/${categoryID}/search?order=visitCnt|}">추천순</a>
	                    <a th:href="@{|/board/${categoryID}/search?order=writeDate|}">최신순</a>
	                    <a th:href="@{|/board/${categoryID}/search?order=eventEnd|}">모집 마감일순</a>
                </div>
                
            </div>
    
            <div class="board-content">
				<div class="carousel-box" th:each="post, index: ${posts}">
                	<input type="hidden" th:text="${post.postID}">
                	<input type="hidden" id="categoryID" th:value="${categoryID}" />
                    <img th:src="${imageLinks[__${index.index}__]}">
                    <div th:text="${post.eventStart}"></div>
                    <div class="title"><a th:href="@{|/board/${categoryID}/${post.postID}|}" th:text="${post.postName}"></a></div>
            
                </div>            
            </div>
    
            <!-- write board btn -->
            <div class="write-btn">
                <button>행사 개설</button>
            </div>

      <div class="pagination" th:if="${!posts.isEmpty()}">
                <ul class="pagination-ul">
<!--                      
					<li class="link active" value="1" onclick="activeLink()">1</li>
                    <li class="link" value="2" onclick="activeLink()">2</li>
                    <li class="link" value="3" onclick="activeLink()">3</li>
                    <li class="link" value="4" onclick="activeLink()">4</li>
                    <li class="link" value="5" onclick="activeLink()">5</li>
-->
					<li class="page-item" th:classappend="${!posts.hasPrevious} ? 'disabled'">
						<a class="page-link" th:href="@{|?page=${posts.number-1}|}">
						    <button class="btn1"><i class="fa-solid fa-angle-left"></i>이전</button>
						</a>
					</li>
					<li th:each="page: ${#numbers.sequence(0, posts.totalPages-1)}"
						th:if="${page >= posts.number-2 and page <= posts.number+2}"
						th:classappend="${page == posts.number} ? 'active'" 
						class="page-item" style="margin: 0 5px;">
						<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
					</li>
					<li class="page-item" th:classappend="${!posts.hasNext} ? 'disabled'">
						<a class="page-link" th:href="@{|?page=${posts.number+1}|}">
							<button class="btn2">다음<i class="fa-solid fa-angle-right"></i></button>
						</a>
					</li>
                </ul>
                
            </div>
        </div>
        <!-- content-list End -->

    </section>
    <!-- tagAndContent End-->



    <!-- footer start -->
	<div th:replace="~{/Fragment/footer :: footerFragment}"></div>



    <script th:src="@{/js/BorderListPageCompany.js}"></script>
</body>
</html>