<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardListPageCompany</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/Setting.css">
    <link rel="stylesheet" href="../../static/css/BoardListPageCompany.css">
</head>
<body>
    <!-- header Start -->
    <header class="header">

        <nav class="navbar">
            <!-- upper (logo, searchbar, login, acount, likelist) -->
            <div class="container">
                <!-- logo -->
                <a href="#" class="logo">
                    <img src="../../static/images/logo-01.png" alt="">
                </a>
                <div>
                    <form action="" class="search-bar">
                        <input type="text" placeholder=" 참여하고 싶은 행사나 프로젝트를 검색해보세요" name="q" id="">
                        <div class="fas fa-search" id="search-btn"></div>
                    </form>
                </div>
                <div class="link1">
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                    <a href="#">관심목록</a>
                </div>
            </div>

            <!-- category -->
            <div class="category">
                <div class="category-list">
                    <span>카테고리</span>
                    <div class="fas fa-solid fa-chevron-down"></div>

                    <!-- dropdown menu -->
                <ul class="dropdown">
                    <li><a href="#">컨퍼런스</a></li>
                    <li><a href="#">세미나</a></li>
                    <li><a href="#">펀딩</a></li>
                </ul>
                </div>
                <a href="#">기업행사</a>
                <a href="#">예술인 펀딩</a>
                <a href="#">서비스 소개</a>
                <a href="#">Q & A</a>
                <a href="#">행사개설</a>
            </div>
        </nav>
    </header>
    <!-- header End -->


    <!-- img slider start -->
    <section class="img-slider">
        <div class="slider">
            <div class="slides">
                <!-- radio btn start -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">
                <!-- radio btn end -->
                <!-- slide img start -->
                <div class="slide first">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img1.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img2.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img3.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img4.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img5.png" alt="">
                    </a>
                </div>
                <!-- slide img end -->
            </div>
        </div>
    </section>
    

    <!-- tagAndContent Start-->
    <section class="tagAndContent">
        <!-- tag Start -->
        <div class="filter-reset">
            <div class="filter-announcement">
                <div class="filter-tag">필터 태그</div>
                <a href="#">태그 초기화</a>
            </div>

            <div class="select-tag">
                <div class="time-tag">
                    <div class="time-btn bold">일시</div>
                    <input type="radio" name="time" value="time-1" checked><span>모든 날</span>
                    <br>
                    <input type="radio" name="time" value="time-2"><span>오늘</span>
                    <br>
                    <input type="radio" name="time" value="time-3"><span>이번주</span>
                    <br>
                    <input type="radio" name="time" value="time-4"><span>이번달</span>
                    <br>
                    <input type="checkbox" name="time" value="time-5"><span>종료된 행사</span>
                </div><br>
                
                <div class="location-tag">
                    <div class="location-btn bold">지역</div>
                    <input type="checkbox" name="location" value="location-1"><span>서울/경기/인천</span>
                    <br>
                    <input type="checkbox" name="location" value="location-2"><span>부산/울산/경남</span>
                    <br>
                    <input type="checkbox" name="location" value="location-3"><span>대구/경북</span>
                    <br>
                    <input type="checkbox" name="location" value="location-4"><span>충청/대전/세종</span>
                    <br>
                    <input type="checkbox" name="location" value="location-5"><span>전라/광주</span>
                    <br>
                    <input type="checkbox" name="location" value="location-6"><span>강원</span>
                    <br>
                    <input type="checkbox" name="location" value="location-7"><span>제주</span>
                    <br>
                </div> <br>

                <div class="field-tag">
                    <div class="field-btn bold">행사분야</div>
                    <input type="checkbox" name="field" value="field-1"><span>창업</span>
                    <br>
                    <input type="checkbox" name="field" value="field-2"><span>IT/프로그래밍</span>
                    <br>
                    <input type="checkbox" name="field" value="field-3"><span>라이프</span>
                    <br>
                    <input type="checkbox" name="field" value="field-4"><span>경제/금융</span>
                    <br>
                    <input type="checkbox" name="field" value="field-5"><span>경영</span>
                    <br>
                    <input type="checkbox" name="field" value="field-6"><span>인문/사회</span>
                    <br>
                    <input type="checkbox" name="field" value="field-7"><span>마케팅</span>
                    <br>
                    <input type="checkbox" name="field" value="field-8"><span>커리어</span>
                    <br>
                    <input type="checkbox" name="field" value="field-9"><span>과학기술</span>
                    <br>
                    <input type="checkbox" name="field" value="field-10"><span>의료/의학</span>
                    <br>
                    <input type="checkbox" name="field" value="field-11"><span>예술/디자인/영상</span>
                    <br>
                    <input type="checkbox" name="field" value="field-12"><span>관광/여행</span>
                    <br>
                    <input type="checkbox" name="field" value="field-13"><span>기획</span>
                    <br>
                    <input type="checkbox" name="field" value="field-14"><span>기타</span>
                    <br>
                </div><br>

                <div class="type-tag">
                    <div class="type-btn bold">행사유형</div>
                    <input type="checkbox" name="type" value="type-1"><span>강연/세미나</span>
                    <br>
                    <input type="checkbox" name="type" value="type-2"><span>멘토링/대외활동</span>
                    <br>
                    <input type="checkbox" name="type" value="type-3"><span>대회/공모전</span>
                    <br>
                    <input type="checkbox" name="type" value="type-4"><span>워크샵/클리닉</span>
                    <br>
                    <input type="checkbox" name="type" value="type-5"><span>콘테스트/콩쿠르</span>
                    <br>
                    <input type="checkbox" name="type" value="type-6"><span>박람회/페어/축제</span>
                    <br>
                    <input type="checkbox" name="type" value="type-7"><span>기타</span>
                    <br>
                </div><br>

                <div class="participation-tag">
                    <div class="time-btn bold">일시</div>
                    <input type="radio" name="participation" value="participation-1" checked><span>전체</span>
                    <br>
                    <input type="radio" name="participationp" value="participation-2"><span>온라인</span>
                    <br>
                    <input type="radio" name="participation" value="participation-3"><span>오프라인</span>
                </div><br>

                <div class="cost-tag">
                    <div class="cost-btn bold">가격</div>
                    <input type="radio" name="cost" value="cost-1" checked>전체
                    <br>
                    <input type="radio" name="cost" value="cost-2"><span>무료</span>
                    <br>
                    <input type="radio" name="cost" value="cost-3"><span>유료</span>
                </div><br>

            </div>

        </div>

        <!-- tag End -->
        

        <!-- content-list Start -->
        <div class="content-list">
            <div class="search-result">
                <div><span class="content-cnt">132 </span><span>개의 행사가 검색되었습니다</span></div>
                <div class="list-btn">
                    <a href="#">추천순</a>
                    <a href="#">업데이트순</a>
                    <a href="#">모집 마감일순</a>
                </div>
                
            </div>
    
            <div class="board-content">
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                    <div class="space-between">
                        <div class="cost">무료</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div>
                </div>
                
            </div>
    
            <div class="pagination">
                <button class="btn1" onclick="backBtn()"><i class="fa-solid fa-angle-left"></i>이전</button>
                <ul class="pagination-ul">
                    <li class="link active" value="1" onclick="activeLink()">1</li>
                    <li class="link" value="2" onclick="activeLink()">2</li>
                    <li class="link" value="3" onclick="activeLink()">3</li>
                    <li class="link" value="4" onclick="activeLink()">4</li>
                    <li class="link" value="5" onclick="activeLink()">5</li>
                </ul>
                <button class="btn2" onclick="nextBtn()">다음<i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        <!-- content-list End -->

    </section>
    <!-- tagAndContent End-->



    <!-- footer start -->
    <footer class="footer">

        <div class="footer-first">
            <div class="link-list">
                <a href="#">기업행사</a>
                <a href="#">예술인 펀딩</a>
                <a href="#">서비스 소개</a>
                <a href="#">Q & A</a>
                <a href="#">공지사항</a>
            </div>
        </div>

        <div class="footer-third">
            <div class="link-title">서비스 이용 문의</div>
            <div>채팅상담 (평일 10:00~17:00)</div>
            <div>사업 제휴 문의 whiosemail@event-tree.kr</div>         
        </div>

        <div class="footer-four">
            <div class="link-title company">EVENTREE</div>
            <div>(주)이벤트리 | 사업자등록번호 000-00-00000</div>
            <div>통신판매업 신고번호 제0000-0000-0000호</div>
            <div>대표 신유경 | 개인정보책임자 DB관리자</div>
            <div>광주특별시 광산구 무진대로 무역회관 7층</div>
            <!-- <div class="warning">
                이벤트리는 통신판매중개자이며 행사에 대한 당사자 및 주최자가 아닙니다. 따라서 이벤트리는 등록된 행사에 대해 책임지지 않습니다
            </div> -->
        </div> 
        
        <div class="footer-second">
            <div class="link-list">
                <a href="#">서비스 이용 약관</a>
                <a href="#">개인정보처리방침</a>
                <a href="#">이메일 주소 무단수집 거부</a>
            </div>         
        </div>
        
        

        <div class="footer-down">
            <div class="copyright">
                ⓒ 2024. EVENTREE All Rights Reserved.
            </div>
            <div class="sns">
                <a href="#">X</a>
                <a href="#">인스타</a>
                <a href="#">카카오톡</a>
                <a href="#">유튜브</a>
            </div>
            <!-- 나중에 sns 로고 이미지로 교체할것 -->
        </div>

    </footer>



    <script src="../../static/js/BorderListPageCompany.js"></script>
</body>
</html>