<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardListPageArtist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
  	<link rel="stylesheet" th:href="@{/css/BoardListPageArtist.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

	<div th:replace="~{/Fragment/header :: headerFragment}"></div>

    <section class="img-slider">
        <div class="slider">
            <div class="slides">

                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">

                <div class="slide first">
                    <a href="https://www.kocca.kr/kocca/bbs/view/B0000137/2005404.do?searchCnd&searchWrd&cateTp1&cateTp2&useYn&menuNo=204802&categorys=0&subcate=0&cateCode&type&instNo=0&questionTp&ufSetting&recovery&option1&option2&year&morePage&qtp&domainId&sortCode&pageIndex=1">
                        <img th:src="@{/images/headerSlideImgExam/header-img2-1.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="https://youtu.be/4DM8_51bz-c?si=NdVhaH20whmS6kN9">
                        <img th:src="@{/images/headerSlideImgExam/header-img2-2.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="https://ccei.creativekorea.or.kr/seoul/custom/notice_view.do?no=31820&div_code=&rnum=1866&pn=1&kind=my&sPtime=now&sMenuType=&pagePerContents=8&cmntySeqNum=&menuSeqNum=&storyList=&sdate=&edate=&orderByVal=1&title=&contents=">
                        <img th:src="@{/images/headerSlideImgExam/header-img2-3.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="https://youtu.be/ji-wEeC7XmA?si=WBD2BUG6VbWz-kvi">
                        <img th:src="@{/images/headerSlideImgExam/header-img2-4.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="https://tumblbug.com/ssagagifilm">
                        <img th:src="@{/images/headerSlideImgExam/header-img2-6.png}" alt="">
                    </a>
                </div>

            </div>
        </div>
    </section>
    

    <section class="tagAndContent">

        <div class="content-list">
            <div class="search-result">
                <div><span class="content-cnt" th:text="${posts.getTotalElements()}"></span><span>개의 행사가 검색되었습니다</span></div>
                <div class="list-btn">
	                    <a th:href="@{|/board/${categoryID}/search?order=visitCnt|}">추천순</a>
	                    <a th:href="@{|/board/${categoryID}/search?order=writeDate|}">최신순</a>
	                    <a th:href="@{|/board/${categoryID}/search?order=eventEnd|}">모집 마감일순</a>
                </div>
                
            </div>
    
            <div class="board-content">


				<div class="carousel-box" th:each="post, index: ${posts}"><a th:href="@{|/board/${categoryID}/${post.postID}|}">

                	<input type="hidden" th:value="${post.postID}">
                	<input type="hidden" id="categoryID" th:value="${categoryID}" />
                    <!--<img th:src="${imageLinks[__${index.index}__]}">-->
					<img th:if="${imageLinks != null and imageLinks.size() > index.index}" th:src="${imageLinks[index.index]}" alt="이미지">
					<div th:text="${post.eventStart}"></div>
					<div th:if="${costs != null and costs.size() > index.index}" th:text="${costs[index.index]}"></div>
                    <div class="title"><a th:href="@{|/board/${categoryID}/${post.postID}|}" th:text="${post.postName}"></a></div>
					</a>
                </div>                
            </div>

			<div class="write-btn">
                <a th:href="@{/board/register/new/2}">
                    <button>프로젝트 개설</button>
                </a>
            </div>
    
	<!-- 게시물 목록이 비어있지 않는 경우에 페이징 UI표시 -->
      <div class="pagination" th:if="${!posts.isEmpty()}">
                <ul class="pagination-ul">

					<!-- 이전 페이지 버튼 현재 페이지가 첫 페이지일 경우 none 클래스 삽입해서 비활성화 -->
					<li class="page-item" th:classappend="${!posts.hasPrevious} ? 'none'">
						<!-- 이전페이지로 보내주는 링크 생성 -->
						<a class="page-link" 
						th:href="@{|?page=${posts.number-1}|}">
						    <button class="btn1"><i class="fa-solid fa-angle-left"></i></button>
						</a>
					</li>
					<!-- 현재 페이지 번호에 active클래스 추가하여 강조 -->
					<li th:each="page: ${#numbers.sequence(0, posts.totalPages-1)}"
						th:if="${page >= posts.number-2 and page <= posts.number+2}"
						th:classappend="${page == posts.number} ? 'active'" 
						class="page-item" style="margin: 0 5px;">
						<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
					</li>
					<!-- 다음 페이지 버튼 현재 페이지가 마지막 페이지일 경우 none 클래스 삽입해서 비활성화 -->
					<li class="page-item" th:classappend="${!posts.hasNext} ? 'none'">
						<!-- 다음페이지로 보내주는 링크 생성 -->
						<a class="page-link" th:href="@{|?page=${posts.number+1}|}">
							<button class="btn2"><i class="fa-solid fa-angle-right"></i></button>
						</a>
					</li>
                </ul>
                
            </div>
        </div>
		<!-- 페이징 수정 -20240418허서진 -->


    </section>

	<div th:replace="~{/Fragment/footer :: footerFragment}"></div>
	<script>
		$(document).ready(function () {
			// 검색 버튼 클릭 이벤트
			$('#search-btn').on('click', function (e) {
				e.preventDefault(); // 기본 동작 막기
				if (validateSearch()) { // 검색어 유효성 검사
					performSearch();
				}
		    });
		
		    // 검색어 입력 필드에서 엔터 키 이벤트
		    $('#keyword').keypress(function(e) {
		        if(e.which == 13) { // 눌린 키가 엔터 키인 경우
		            e.preventDefault(); // 기본 동작 막기
					if (validateSearch()) { // 검색어 유효성 검사
						performSearch();
					}
		        }
		    });
		
		    // 검색 실행 함수
		    function performSearch() {
		        var categoryID = $('#categoryID').val();
		        var url = "/board/" + categoryID + "/search";
		        url = url + "?searchType=" + $('#searchType').val();
		        url = url + "&keyword=" + $('#keyword').val();
		        location.href = url;
		    }
			
			// 검색어 유효성 검사 함수
			function validateSearch() {
				var keyword = document.getElementById("keyword").value.trim();
				if (keyword === "") {
					document.getElementById("searchError").style.display = "block";
					return false;
				} else {
					document.getElementById("searchError").style.display = "none";
					return true;
				}
			}
		});
	</script>
			
		
	<script  th:src="@{/js/BoardListPageArtist.js}"></script>
</body>

</html>
