<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardListPageArtist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
  	<link rel="stylesheet" th:href="@{/css/BoardListPageArtist.css}">
  	
</head>
<body>

	<div th:replace="~{/Fragment/header :: headerFragment}"></div>

    <section class="img-slider">
        <div class="slider">
            <div class="slides">

                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">

                <div class="slide first">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img1.png}" alt="">
                    </a>
                </div>
              
                <div class="slide">
                    <a href="#">
                       <img th:src="@{/images/headerSlideImgExam/header-img2.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img3.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img4.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/images/headerSlideImgExam/header-img5.png}" alt="">
                    </a>
                </div>

            </div>
        </div>
    </section>
    

    <section class="tagAndContent">

        <div class="filter-reset">
            <div class="filter-announcement">
                <div class="filter-tag">필터 태그</div>
                <a href="#">태그 초기화</a>
            </div>

            <div class="select-tag">
                <div class="time-tag">
                    <div class="time-btn bold">일시</div>
                    <input type="radio" name="time" value="time-1" checked><span>모든 날</span>
                    <br>
                    <input type="radio" name="time" value="time-2"><span>오늘</span>
                    <br>
                    <input type="radio" name="time" value="time-3"><span>이번주</span>
                    <br>
                    <input type="radio" name="time" value="time-4"><span>이번달</span>
                    <br>
                    <input type="checkbox" name="time" value="time-5"><span>종료된 펀딩</span>
                </div><br>
                
                <div class="genre-tag">
                    <div class="genre-btn bold">장르</div>
                    <input type="checkbox" name="genre" value="genre-1"><span>액션</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-2"><span>범죄</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-3"><span>SF</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-4"><span>코미디</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-5"><span>로맨스</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-6"><span>스릴러</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-7"><span>공포</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-8"><span>전쟁</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-9"><span>스포츠</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-10"><span>판타지</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-11"><span>음악/뮤지컬</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-12"><span>애니메이션</span>
                    <br>
                    <input type="checkbox" name="genre" value="genre-13"><span>추리</span>
                </div> <br>

                <div class="form-tag">
                    <div class="form-btn bold">형식 및 양식</div>
                    <input type="checkbox" name="form" value="form-1"><span>무성</span>
                    <br>
                    <input type="checkbox" name="form" value="form-2"><span>흑백</span>
                    <br>
                    <input type="checkbox" name="form" value="form-3"><span>단편</span>
                    <br>
                    <input type="checkbox" name="form" value="form-4"><span>장편</span>
                    <br>
                </div><br>


                <div class="benefits-tag">
                    <div class="benefits-btn bold">투자혜택</div>
                    <input type="checkbox" name="benefits" value="benefits-1"><span>고정수익</span>
                    <br>
                    <input type="checkbox" name="benefits" value="benefits-2"><span>손익분배</span>
                    <br>
                    <input type="checkbox" name="benefits" value="benefits-3"><span>혜택지급</span>
                    <br>
                </div><br>
            </div>
        </div>

        <div class="content-list">
            <div class="search-result">
                <div><span class="content-cnt" th:text="${posts.getTotalElements()}"></span><span>개의 행사가 검색되었습니다</span></div>
                <div class="list-btn">
	                    <a th:href="@{|/board/${categoryID}/search?order=visitCnt|}">추천순</a>
	                    <a th:href="@{|/board/${categoryID}/search?order=writeDate|}">최신순</a>
	                    <a th:href="@{|/board/${categoryID}/search?order=eventEnd|}">모집 마감일순</a>
                </div>
                
            </div>
    
            <div class="board-content">

                <div class="carousel-box" th:each="post, index: ${posts}">
                	<input type="hidden" th:text="${post.postID}">
                	<input type="hidden" id="categoryID" th:value="${categoryID}" />
                    <img th:src="${imageLinks[__${index.index}__]}">
                    <div th:text="${post.eventStart}"></div>
                    <div class="title"><a th:href="@{|/board/${categoryID}/${post.postID}|}" th:text="${post.postName}"></a></div>
             <!--        <div class="space-between">
                        <div class="cost">손익분배</div>
                        <div class="visit"><span>조회</span><span>500</span></div>
                    </div> -->
                </div>               
            </div>

            <div class="write-btn">
                <a th:href="@{/board/register/new/2}">
                    <button>프로젝트 개설</button>
                </a>
            </div>
    
      <div class="pagination" th:if="${!posts.isEmpty()}">
                <ul class="pagination-ul">
<!--                      
					<li class="link active" value="1" onclick="activeLink()">1</li>
                    <li class="link" value="2" onclick="activeLink()">2</li>
                    <li class="link" value="3" onclick="activeLink()">3</li>
                    <li class="link" value="4" onclick="activeLink()">4</li>
                    <li class="link" value="5" onclick="activeLink()">5</li>
-->
					<li class="page-item" th:classappend="${!posts.hasPrevious} ? 'disabled'">
						<a class="page-link" th:href="@{|?page=${posts.number-1}|}">
						    <button class="btn1"><i class="fa-solid fa-angle-left"></i>이전</button>
						</a>
					</li>
					<li th:each="page: ${#numbers.sequence(0, posts.totalPages-1)}"
						th:if="${page >= posts.number-2 and page <= posts.number+2}"
						th:classappend="${page == posts.number} ? 'active'" 
						class="page-item" style="margin: 0 5px;">
						<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
					</li>
					<li class="page-item" th:classappend="${!posts.hasNext} ? 'disabled'">
						<a class="page-link" th:href="@{|?page=${posts.number+1}|}">
							<button class="btn2">다음<i class="fa-solid fa-angle-right"></i></button>
						</a>
					</li>
                </ul>
                
            </div>
        </div>


    </section>

    <div th:replace="~{/Fragment/footer :: footerFragment}"></div>

	<script th:src="@{/js/BoardListPageArtist.js}"></script>
</body>

</html>
