<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <style>
        .post-detail {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Post Detail</h1>
	
    <div class="post-detail">
        <p>Title: <span th:text="${post.postName}"></span></p>
        <p>Category: <span th:text="${post.categoryName}"></span></p>
        <p>Author: <span th:text="${post.authorName}"></span></p>   
        <p>Event Date: <span th:text="${post.eventStart}"></span> ~ <span th:text="${post.eventEnd}"></span></p>
        <p>Content: <span th:text="${post.content}"></span></p>
    </div>
    <p class="btn_set">
        <a th:href="@{/board/modify/{postID}(postID = ${post.postID})}" class="btns btn_bdr4 btn_mid">수정</a>
        <a th:href="@{/board/delete/{postID}(postID = ${post.postID})}" class="btns btn_bdr1 btn_mid">삭제</a>
        <a th:href="@{/board}" class="btns btn_bdr3 btn_mid">뒤로</a>
		<form name="form1" method="post" action="/board/like/insert">
			<input type="hidden" name="product_code" value="${dto.product_code}">		                    
		    <input type="submit" value="♥">
		</form>
    </p>
</body>
</html>
