<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Name Modify</title>
</head>

<body>
	<h2>Modify email</h2>
	<form th:action="@{/userUpdate/emmodify}" method="post">
		<p th:if="${errorMessage}" class="error" style="color: red" th:text="${errorMessage}"></p>
		<label for="newEmail">새로운 이메일:</label>
		<input type="text" id="newEmail" name="email"><br><br>
		<input type="submit" value="Change email">
	</form>
</body>
</html>