<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Name Modify</title>
</head>

<body>
	<h2>Modify email</h2>
	<form th:action="@{/userUpdate/pwmodify}" method="post">
		<p th:if="${errorMessage}" class="error" style="color: red" th:text="${errorMessage}"></p>
		<label for="oldPw">기존 비밀번호:</label>
		<input type="password" id="oldPw" name="oldPw"><br><br>
		<label for="newPw">새로운 비밀번호:</label>
		<input type="password" id="newPw" name="newPw"><br><br>
		<input type="submit" value="Change password">
	</form>
</body>
</html>