* {
  box-sizing: border-box; 
  font-family: Arial, sans-serif;
}
body {
  background-color: #fff;
}
.container {
text-align: center;
/* background-color: #fff; */
border-radius: 5px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
max-width: 500px;
margin: 50px auto;
padding: 20px;
  /* background-color: #fff; */
  /* border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
background-color: transparent; 
}

.social-login-buttons {
display: flex;
flex-direction: column;
align-items: center;
}

.social-login-button {
margin: 10px;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
display: flex;
align-items: center;
}

.social-login-button img {
width: 30px;
margin-right: 10px;
}

.social-login-button.google {
background-color: #fff;
color: #171717;
}

.social-login-button.naver {
background-color: #fff;
color: #171717;
}

.social-login-button.kakao {
background-color: #fff;
color: #171717;
}
.q{
  float: left;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}
.qq{
  width: 150px;
  height: 30px;
  float: right;
  background-color: #9c9c9c;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  margin-bottom: 15px;
}
input[type="submit"],.submit {
  /* width: 100%; */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00ce80;
  color: #fff;
  /* border: 1px solid #9c9c9c; */
  border-radius: 5px;
  /* cursor: pointer; */
}
input[type="submit"]:hover {
  background-color: #00ce80;
}
.social-login-buttons {
  display: flex;
  justify-content: space-between;

}
.social-login-button {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00ce80;
  cursor: pointer;
  outline: 1.5px #00ce80 solid; 
}
.jump {
text-align: center;
}

.jump hr {
width: 50%;
}
.c {
text-align: left;
/* background-color: #fff; */
border-radius: 5px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
max-width: 500px;
margin: 50px auto;
padding: 20px;
  /* background-color: #fff; */
  /* border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
background-color: transparent; 
}

