<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서비스 소개</title>
  <link rel="stylesheet" th:href="@{/css/Setting.css}">
  <link rel="stylesheet" th:href="@{/css/ServiceIntroducePage.css}">
</head>
<body>
  <div class="container">
    <header>
      <a th:href="@{http://localhost:8085}"><p>EVENT<br>
        TREE</p> 
      <ul>
        <li><a th:href="@{http://localhost:8085/board/1}">기업행사</a></li>
        <li><a th:href="@{http://localhost:8085/board/2}">예술인 펀딩</a></li>
        <li><a th:href="@{http://localhost:8085/mypage/serviceintroduce}">서비스 소개</a></li>
        <li><a th:href="@{http://localhost:8085/mypage/qa}">Q & A</a></li>
        <li><a th:href="@{http://localhost:8085/mypage/notice}">공지사항</a></li>
      </ul>
    </a>
      <th:block th:if="${session['loggedInUser'] == null}">
        <ul>
          <li><a href="/login">로그인</a></li>
          <li><a href="/joinForm">회원가입</a></li>
          <li><a href="/savelist">관심목록</a></li>
        </ul>
      </th:block>
      <!-- Check if user is logged out -->
      <th:block th:if="${session['loggedInUser'] != null}">
        <ul>
          <li><a th:href="@{/userUpdate}" class="mypage"><span th:text="${session['loggedInUser'].userName}"></span>님 안녕하세요</a></li>
          <li><a href="/savelist">관심목록</a></li>
          <li><a href="/logout">로그아웃</a></li>
        </ul>
      </th:block>
    </header>
    
    <section>
      <p>쉽고 빠르게 당신만의 <br>
        행사 및 프로젝트를 계획하세요.</p>
      <p>참여자들이 당신의 행사를 열려고 기다리고 있습니다!</p>
	    <a th:href="@{http://localhost:8085/login}">무료로 행사 개설하기</a>
    </section>
    
    
      <div class="ce1">
        <p>행사를 통해 <br>
          여러분의<span id="changing-span" style="color: var(--green-color)">[ 비즈니스 ]</span>를 성장시켜보세요
        </p>
        <div>
      <div class="ce11">
        <img th:src="@{/images/기회.png}" alt="" width="110px" height="110px">
        <h6>다양한 기회</h6>
        <p>행사 네트워킹으로 다양한 사람과 연결하여 새로운 기회와 만남을 경험하세요.</p>
      </div>
      <div class="ce12">
        <img th:src="@{/images/인지도.png}" alt="" width="110px" height="110px">
        <h6>더 높은 인지도</h6>
        <p>행사에서 더 많은 사람에게 우리의 <br>
          메시지를 전달해보세요.</p>
      </div>
      <div class="ce13">
        <img th:src="@{/images/공유.png}" alt="" width="110px" height="110px">
        <h6>전문 지식과 경험 공유</h6>
        <p>
          행사는 업계 전문가들과의 만남과 경험을 통한 지식 공유의 장입니다.</p>
      </div>
    </div>
   
      <div class="ce21">
        <img th:src="@{/images/발굴.png}" alt="" width="110px" height="110px">
        <h6>혁신적인 아이디어 발굴</h6>
        <p>다양한 분야와 업계에서 온 사람들과의 상호작용을 통해 혁신적인 아이디어와 새로운 비즈니스 모델, 제품 아이디어를 발굴할 수 있습니다.</p>
      </div>
      <div class="ce22">
        <img th:src="@{/images/협력.png}" alt="" width="110px" height="110px">
        <h6>파트너십 협력 기회</h6>
        <p>
          행사는 파트너십을 형성하고 협력 기회를 찾을 수 있는 좋은 장입니다. 다른 기업이나 기관과의 협력을 통해 서로의 강점을 결합하고 성장할 수 있습니다.</p>
      </div>
      <div class="ce23">
        <img th:src="@{/images/홍보.png}" alt="" width="110px" height="110px">
        <h6>마케팅 및 홍보 효과</h6>
        <p>행사는 비즈니스의 마케팅 및 홍보에도 효과적입니다. 행사를 통해 새로운 고객을 유치하고 브랜드 인지도를 높일 수 있습니다.</p>
      </div>
    </div>
     
      
        <div class="ce4">
          <h3>왜 <br>
            이벤트리를 쓰나요? </h3>  <br>
            <p>이벤트리를 사용하면 
              더 많은 참가자를 만날 수 있고 쉽고 합리적으로 퀄리티 있는 행사를 만들 수 있어요.</p>
            <div class="ce41"> <h3>120%</h3> <p>참가자 모객</p> </div>
            <div class="ce41"> <h3>30%</h3> <p>비용 절감</p> </div>
            <div class="ce41"> <h3>27%</h3> <p>시간 절감</p> </div> 
            <div>
          </div>
        </div>

        <div class="ce2">
          <h3>다양한 무료 기능 지원</h3> <br>
          <p>다양한 기능을 통해 행사를 업그레이드 시켜보세요.</p>
          <div class="ce123">
            <h3>다수의 관리자 등록</h3>
            <p>하나의 행사를 아이디 공유 없이 여러 명이 관리할 수 있어요.</p>
          </div>
          <div class="ce123">
            <h3>이메일·문자 발송</h3>
            <p>참가자들에게 자동으로 이메일을 보낼 수 있어요.</p>
          </div>
          <div class="ce123">
            <h3>데이터 다운로드</h3>
            <p>행사와 참가자들의 정보를 엑셀로 내려받아 관리할 수 있어요.</p>
          </div>
          


        </div>

          <div class="ce3">
            <h3>자주 묻는 질문</h3>
            <div class="qa">
            <div class="Q"><h4>Q. 행사 개설 시 비용이 드나요?</h4></div>
            <div class="A"><p>A. 행사를 개설하고, 참가자를 모집하는 과정<span style="font-weight: 500;">모두 무료 입니다</span> <br>부담 없이 행사를 개설해보세요.</div> 
           </div> 
           
           <div class="qa">
            <div class="Q"><h4>Q. 참가자는 행사 신청 시 이벤트리 회원가입이 필요한가요?</h4></div>
            <div class="A"><p>A. 네, 우리의 서비스를 최대한 활용하기 위해서는 이벤트리 회원가입이 필요합니다. <br> 회원가입을 통해 행사에 참여하고 다양한 기능을 이용할 수 있으며, 가입하여 다른 이벤트 및 소식을 받아보실 수 있습니다. <br>
           함께 더 많은 혜택과 소통의 기회를 누리세요!.</div> 
           </div> 
           <div class="qa">
            <div class="Q"><h4>Q. 행사 기획 및 대행 업무까지 해주나요?</h4></div>
            <div class="A"><p>A. 이벤트리는 이벤트 테크놀로지 플랫폼으로서, 행사 솔루션을 제공합니다. <br> <span style="font-weight: 500;">따라서 행사 기획 및 대행 업무는 진행하지 않아요.</span> <br>다만, 성공적인 개최를 위해 도움이 된다면 적합한 전문가를 연결해 드릴게요.</div> 
           </div>  
            
          </div>
      
      <div class="empty"></div>

      <section class="start-btn2">
        <p>지금 당장 쉽고 빠르게<br>
          당신만의 행사 및 프로젝트를 계획하세요.</p>
        <p>참여자들이 당신의 행사를 열려고 기다리고 있습니다!</p>
        <a th:href="@{http://localhost:8085/login}" class="btn2">무료로 행사 개설하기</a>
      </section>
    <!-- 검은색 배경이 쭉 이어져 배경을 흰색으로 바꾸고 푸터의 색이 달라 맞춰줌 -20240415허서진 -->
  
	<div th:replace="~{/Fragment/footer :: footerFragment}"></div>
	
    <script th:inline="javascript">
      // span 요소의 내용을 변경하는 함수
      function changeSpanText() {
          var texts = ["[ 비즈니스 ]", "[ 제품/서비스 ]", "[ 모임/커뮤니티 ]"]; // 변경할 텍스트 목록
          var currentIndex = 0; // 현재 인덱스
      
          // span 요소를 찾기
          var spanElement = document.getElementById("changing-span");
      
          // 텍스트 변경
          setInterval(function() {
              spanElement.textContent = texts[currentIndex];
              currentIndex = (currentIndex + 1) % texts.length; // 인덱스 업데이트
          }, 2000); // 2초마다 텍스트 변경
      }
      
      // 페이지 로드 시 span 요소의 내용 변경 함수 실행
      window.onload = changeSpanText;
      </script>
</body>
</html>