<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/Setting.css">
    <link rel="stylesheet" href="../../static/css/Main.css">
</head>
    <!-- after merge, replace sheetlink  -->
    <!-- th확인하고 나중에 링크 바꿔야함 -->
    
<body>
    <header class="header">

        <nav class="navbar">
            <!-- upper (logo, searchbar, login, acount, likelist) -->
            <div class="container">
                <!-- logo -->
                <a href="#" class="logo">
                    <img src="../../static/images/logo-01.png" alt="">
                </a>
                <div>
                    <form action="" class="search-bar">
                        <input type="text" placeholder=" 참여하고 싶은 행사나 프로젝트를 검색해보세요" name="q" id="">
                        <div class="fas fa-search" id="search-btn"></div>
                    </form>
                </div>
                <div class="link1">
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                    <a href="#">관심목록</a>
                </div>
            </div>

            <!-- category -->
            <div class="category">
                <div class="category-list">
                    <span>카테고리</span>
                    <div class="fas fa-solid fa-chevron-down"></div>

                    <!-- dropdown menu -->
                <ul class="dropdown">
                    <li><a href="#">컨퍼런스</a></li>
                    <li><a href="#">세미나</a></li>
                    <li><a href="#">펀딩</a></li>
                </ul>
                </div>
                <a href="#">기업행사</a>
                <a href="#">예술인 펀딩</a>
                <a href="#">서비스 소개</a>
                <a href="#">Q & A</a>
                <a href="#">공지사항</a>
            </div>
        </nav>
    </header>


    
    <!-- img slider start -->
    <section class="img-slider">
        <div class="slider">
            <div class="slides">
                <!-- radio btn start -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">
                <!-- radio btn end -->
                <!-- slide img start -->
                <div class="slide first">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img1.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img2.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img3.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img4.png" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../../static/images/headerSlideImgExam/header-img5.png" alt="">
                    </a>
                </div>
                <!-- slide img end -->
                <!-- automatic navigation start -->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                    <div class="auto-btn5"></div>
                </div>
                <!-- automatic navigation end -->
            </div>
            <!-- manual navigation start -->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
                <label for="radio5" class="manual-btn"></label>
            </div>
            <!-- manual navigation end -->
        </div>
        <!-- img slider end -->

        <!-- 이전 다음 버튼 구현 필요? -->
        <!-- 자동으로 움직이는 것에 대한 좀 더 UX적인 구현 필요
        ex) 자동 슬라이드 2번째 구간때 5번째 점을 누르면 그 다음 자동 슬라이드가 3번째 구간으로 감 -->

    </section>
    
    
    <!-- editors pick content -->
    <section class="editors-pick">
        <div class="bordelist">
            <div>에디터의 PICK</div>
            <div class="bordelist-explain">
                저희가 지금 가장 추천하는 행사를 만나보세요!
            </div>
        </div>
        
        <div class="readmore">
            <a href="#">
                <span>더 많은 행사 보기 </span><i class="fa-solid fa-angle-right"></i>
            </a>
        </div>
    </section>


    <!-- scroll content -->
    <section class="scroll-content">
        <div class="wrapper">
            <!-- <i class="fa-solid fa-angle-left"></i> -->
            <div class="carousel">
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-1.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-2.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-4.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-5.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-6.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-7.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-8 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-9 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>

            </div>
            <!-- <i class="fa-solid fa-angle-right"></i> -->
        </div>
    </section>

    <div class="empty"></div>
    
    <!-- Recommendation project content -->
    <section class="editors-pick">
        <div class="bordelist">
            <div>이런 프로젝트는 어떠세요?</div>
            <div class="bordelist-explain">
                지금 가장 추천하는 행사를 만나보세요!
            </div>
        </div>
        
        <div class="readmore">
            <a href="#">
                <span>더 많은 행사 보기 </span><i class="fa-solid fa-angle-right"></i>
            </a>
        </div>
    </section>

    <!-- scroll content -->
    <section class="scroll-content">
        <div class="wrapper">
            <!-- <i class="fa-solid fa-angle-left"></i> -->
            <div class="carousel">
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-1.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-2.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-4.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-5.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-6.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-7.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-8 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-9 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>

            </div>
            <!-- <i class="fa-solid fa-angle-right"></i> -->
        </div>
    </section>

    <div class="empty"></div>

    <!-- New project content -->
    <section class="editors-pick">
        <div class="bordelist">
            <div>당신의 참가를 기다리는 NEW 행사</div>
            <div class="bordelist-explain">
                이번주 새로 개설된 행사를 만나보세요!
            </div>
        </div>
        
        <div class="readmore">
            <a href="#">
                <span>더 많은 행사 보기 </span><i class="fa-solid fa-angle-right"></i>
            </a>
        </div>
    </section>

    <!-- scroll content -->
    <section class="scroll-content">
        <div class="wrapper">
            <!-- <i class="fa-solid fa-angle-left"></i> -->
            <div class="carousel">
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-1.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-2.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-4.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-5.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-6.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-7.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-8 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-9 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>

            </div>
            <!-- <i class="fa-solid fa-angle-right"></i> -->
        </div>
    </section>

    <div class="empty"></div>

    <!-- Popular project content -->
    <section class="editors-pick">
        <div class="bordelist">
            <div>인기 행사 & 프로젝트</div>
            <div class="bordelist-explain">
                현재 제일 인기 많은 행사와 프로젝트를 만나보세요!
            </div>
        </div>
        
        <div class="readmore">
            <a href="#">
                <span>더 많은 행사 보기 </span><i class="fa-solid fa-angle-right"></i>
            </a>
        </div>
    </section>

    <!-- scroll content -->
    <section class="scroll-content">
        <div class="wrapper">
            <!-- <i class="fa-solid fa-angle-left"></i> -->
            <div class="carousel">
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-1.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-2.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-4.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-5.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-6.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-7.png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-8 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>
                <div class="carousel-box">
                    <img src="../../static/images/scrollImgExam/scroll-9 .png" alt="img">
                    <div class="startDate">03월 27일 (수)</div>
                    <div class="title">제 7회 서울인구심포지엄</div>
                </div>

            </div>
            <!-- <i class="fa-solid fa-angle-right"></i> -->
        </div>
        <!-- 박스 눌렀을때 해당 게시물로 이동 구현 필요 -->
    </section>

    <div class="empty"></div>


    
    <!-- footer start -->
    <footer class="footer">

        <div class="footer-first">
            <div class="link-list">
                <a href="#">기업행사</a>
                <a href="#">예술인 펀딩</a>
                <a href="#">서비스 소개</a>
                <a href="#">Q & A</a>
                <a href="#">공지사항</a>
            </div>
        </div>

        <div class="footer-third">
            <div class="link-title">서비스 이용 문의</div>
            <div>채팅상담 (평일 10:00~17:00)</div>
            <div>사업 제휴 문의 whiosemail@event-tree.kr</div>         
        </div>

        <div class="footer-four">
            <div class="link-title company">EVENTREE</div>
            <div>(주)이벤트리 | 사업자등록번호 000-00-00000</div>
            <div>통신판매업 신고번호 제0000-0000-0000호</div>
            <div>대표 신유경 | 개인정보책임자 DB관리자</div>
            <div>광주특별시 광산구 무진대로 무역회관 7층</div>
            <!-- <div class="warning">
                이벤트리는 통신판매중개자이며 행사에 대한 당사자 및 주최자가 아닙니다. 따라서 이벤트리는 등록된 행사에 대해 책임지지 않습니다
            </div> -->
        </div> 
        
        <div class="footer-second">
            <div class="link-list">
                <a href="#">서비스 이용 약관</a>
                <a href="#">개인정보처리방침</a>
                <a href="#">이메일 주소 무단수집 거부</a>
            </div>         
        </div>
        
        

        <div class="footer-down">
            <div class="copyright">
                ⓒ 2024. EVENTREE All Rights Reserved.
            </div>
            <div class="sns">
                <a href="#">X</a>
                <a href="#">인스타</a>
                <a href="#">카카오톡</a>
                <a href="#">유튜브</a>
            </div>
            <!-- 나중에 sns 로고 이미지로 교체할것 -->
        </div>

    </footer>

    <script src="../../static/js/Main.js"></script>
</body>

</html>