<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/Setting.css">
    <link rel="stylesheet" href="../../static/css/Companywrite2.css">
</head>
<body>

    <div class="container">
        
        <div class="nav">
            <label for="" class="lab">2/3 단계</label>
            <h1 class="title">새로운 행사를 개설해 보세요</h1>
            <label for="postName" class="lab">주최장소는 어디인가요?</label>

            <div class="charge line">
                <div class="chk start">
                    <input type="checkbox" name="p_charge" id="p_charge A" value=""><span>&nbsp;&nbsp;오프라인</span>     
                </div>
                <div class="chk end">
                    <input type="checkbox" name="p_charge" id="p_charge B" value=""><span>&nbsp;&nbsp;온라인</span>
                </div>
            </div>

            <div class="charge line">
                <select name="" id="one">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </div>
            
            <label for="postName" class="lab">행사를 설명할 수 있는 대표 이미지를 넣어주세요</label>
            <input type="file" name="dd" id="">

            <!-- 다음페이지로 보낼 버튼 생성 -20240416허서진 -->
            <button type="submit" class="write-next-btn">다음</button>


        </div><!-- nav end-->

    </div><!-- container end-->
    


</body>
</html>