<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
    <link rel="stylesheet" th:href="@{/css/Companywrite1.css}">
</head>
<body>
<form th:action="@{'/board/register/new/'+${categoryID}}" th:object="${board}" method="post" enctype="multipart/form-data">
    
    <div class="container">
        
        <div class="nav">
            <label for="" class="lab">1/2 단계</label>
            <h1 class="title">새로운 행사를 개설해 보세요</h1>
            <label for="postName" class="lab">행사명을 입력해주세요</label>
            <input type="text" id="postName" name="postName" th:field="*{postName}">
            
            <label class="lab">행사 기간을 입력해 주세요</label>
            <div class="date line">
                
                <div class="date start">      
                    <input type="date" id="p_schedule start" th:field="*{eventStart}">
                </div>
                
                <div class="date end">
                    <input type="date" id="p_schedule end" th:field="*{eventEnd}">
                </div>
                
            </div>
            
            
            <label for="p_link" class="lab">참가자 모집링크를 입력해주세요</label>
            <input type="text" id="p_link" th:field="*{authorLink}" placeholder="http://">
            
            <label for="p_charge" class="lab">참가 비용이 있나요?</label>
            <div class="charge line" th:field="*{costID}">
                <div class="chk start">
                    <input type="checkbox" name="p_charge" id="p_charge A" th:value="1" th:field="*{costID}"><span>비용이 있어요</span>     
                </div>
                <div class="chk end">
                    <input type="checkbox" name="p_charge" id="p_charge B" th:value="2" th:field="*{costID}"><span>비용이 없어요</span>
                </div>
                
            </div>
			
			<button type="submit" class="write-next-btn">다음</button>
        
		</div>

        
    </div><!-- container end-->
</form>
    
    <script>

    </script>
</body>
</html>