<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Setting.css">
    <link rel="stylesheet" href="two.css">
</head>
<body>

    <div class="container">
        
        <div class="nav">
            <label for="" class="lab">2/3 단계</label>
            <h1 class="title">새로운 행사를 개설해 보세요</h1>
            <label for="postName" class="lab">행사명을 입력해주세요</label>

            <div class="charge line">
                <div class="chk start">
                    <input type="checkbox" name="p_charge" id="p_charge A" value=""><span>비용이 있어요</span>     
                </div>
                <div class="chk end">
                    <input type="checkbox" name="p_charge" id="p_charge B" value=""><span>비용이 없어요</span>
                </div>
            </div>

            <div class="charge line">
                <select name="" id="one">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </div>

            <label for="postName" class="lab">행사명을 입력해주세요</label>
            <input type="file" name="dd" id="">

        </div><!-- nav end-->

    </div><!-- container end-->
    


</body>
</html>