<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<!-- footer start -->
	    <footer class="footer" th:fragment="footerFragment">
	
	        <div class="footer-first">
	            <div class="link-list">
	                <a th:href="@{http://localhost:8085/board/1}">기업행사</a>
	                <a th:href="@{http://localhost:8085/board/2}">예술인 펀딩</a>
					<a th:href="@{http://localhost:8085/mypage/serviceintroduce}">서비스 소개</a>
					<a th:href="@{http://localhost:8085/mypage/qa}">Q & A</a>
				    <a th:href="@{http://localhost:8085/mypage/notice}">공지사항</a>
	            </div>
	        </div>
	
	        <div class="footer-third">
	            <div class="link-title">서비스 이용 문의</div>
	            <div>채팅상담 (평일 10:00~17:00)</div>
	            <div>사업 제휴 문의 whiosemail@event-tree.kr</div>         
	        </div>
	
	        <div class="footer-four">
	            <div class="link-title company">EVENTREE</div>
	            <div>(주)이벤트리 | 사업자등록번호 000-00-00000</div>
	            <div>통신판매업 신고번호 제0000-0000-0000호</div>
	            <div>대표 신유경 | 개인정보책임자 DB관리자</div>
	            <div>광주특별시 광산구 무진대로 무역회관 7층</div>
	            <!-- <div class="warning">
	                이벤트리는 통신판매중개자이며 행사에 대한 당사자 및 주최자가 아닙니다. 따라서 이벤트리는 등록된 행사에 대해 책임지지 않습니다
	            </div> -->
	        </div> 
	        
	        <div class="footer-second">
	            <div class="link-list">
	                <a th:href="@{http://localhost:8085/JoinPage/c}">서비스 이용 약관</a>
	                <a th:href="@{http://localhost:8085/JoinPage/e}">개인정보처리방침</a>
	                <a th:href="@{http://localhost:8085/JoinPage/m}">이메일 주소 무단수집 거부</a>
	            </div>        
	        </div>
	        
	        <div class="footer-down">
	            <div class="copyright">
	                ⓒ 2024. EVENTREE All Rights Reserved.
	            </div>
				<div class="sns">
					<a href="#"> <img th:src="@{/images/icons/kakao.png}" alt="Kakao Icon"></a>
					<a href="#"> <img th:src="@{/images/icons/naver blog.png}" alt="Naverblog Icon"></a>
					<a href="#"> <img th:src="@{/images/icons/twitterX.png}" alt="Twitter Icon" /></a>
					<a href="#"> <img th:src="@{/images/icons/instagram.png}" alt="Instagram Icon"></a>
					<a href="#"> <img th:src="@{/images/icons/youtube.png}" alt="Youtube Icon"></a>
				</div>
			</div>
	
	    </footer>
</body>
</html>