
body{
    background-color: var(--white-color);
}

.header{
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.header .logo img{
    height: 8rem;
    padding-right: 4rem;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 0.5rem 0.75rem;
    background-color: var(--white-color);
    margin-bottom: 1rem;
    border: 1px var(--grey-color) solid;
}

.search-bar input{
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    width: 40rem;
    flex: 1;
    outline: none;
    font-size: 1.6rem;
    color: var(--grey-color);
}

.search-bar .fa-search{
    margin-right: 1rem;
    font-size: 1.6rem;
}

.header .navbar .link1{
    position: absolute;
    top: 0;
    right: 0;
    padding:4.5rem 7%;
    font-size: 1.6rem;
    color: var(--black-color);
}

.header .navbar .link1 a{
    padding-right: 1rem;

}

.header .navbar a{
    color: var(--black-color);
}

.header .navbar a:hover{
    color: var(--green-color);
    transition: all 0.3s;
}

.category {
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    font-size: 1.6rem; 
}

.category div {
    padding-right: 1rem;
}

.category a {
    padding: 1rem;
}

.category .category-list{
    cursor: pointer;
    padding: 1rem;
    /* background-color: rgb(235, 235, 235); */
}

/* dropdown-menu */
/* 좀 더 괜찮게 다듬을 필요 있음 */
.dropdown li{
    display: block;
    background-color: var(--white-color);
    margin: 2rem 0rem;
}

.dropdown{
    width: auto;
    background-color: var(--white-color);
    position: absolute;
    z-index: 999;
    display: none;
    padding: 1rem;
    margin-right: 2rem;
}

.category-list:hover .dropdown{
    display: block;
}

.category-list:hover{
    color: var(--green-color);
}


/* banner img slider */
section{
    background-color: lightblue;
}

.banner-img-slider{
    overflow: hidden;
}

.banner-img-slider-container{
    width: 500vw;
    transition: transform 0.5s;
}

.inner{
    width: 100vw;
    float: left;
}

.inner img{
    width: 100%;
}

.buttons{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 50px;
    height: 50px;
    color: var(--white-color);
    background-color: rgba(99, 98, 98, 0.521);
    font-size: 3rem;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: var(--white-color);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--green-color);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

/* editor pick */
.editors-pick{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.bordelist{
    padding: 0 10rem;
    font-size: 1.8rem;
    font-weight: bolder;
}

.bordelist div:last-child{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--grey-color);
}

.readmore{
    display: flex;
    align-items: center;
    padding: 0 10rem;
    font-size: 1.5rem;
}

.readmore a{
    color: var(--grey-color);
}

.readmore a:hover{
    color: var(--green-color);
}


/* draggable images slider */
.scroll-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background-color: var(--grey-color);
    padding: 0 10rem;
}

.wrapper{
    max-width: 1200vw;
    position: relative;
}

/* .wrapper i{
    top: 50%;
    height: 4.6rem;
    width: 4.6rem;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    cursor: pointer;
    line-height: 4.6rem;
    border-radius: 50%;
    background-color: var(--white-color);
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -2.3rem;
}

.wrapper i:last-child{
    right: -2.3rem;
} */

.wrapper .carousel{
    font-size: 0rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

/* 이쪽부근에 설명까지 넣어서 작동하도록 */

.carousel img{
    height: 24rem;
    width: calc(100% / 4.5);
    object-fit: cover;
    margin-left: 1.4rem;
}

.carousel img:first-child{
    margin-left: 0rem;
}

/* 웹사이트의 사이즈가 줄면 보이는 갯수가 줆 */
@media screen and (max-width:90rem){
    .carousel img{
        width: calc(100% / 4);
    }
}

@media screen and (max-width:55rem){
    .carousel img{
        width: calc(100% / 3);
    }
}

/* draggable images slider END */
/* editor pick END*/




footer{
    background-color: yellow;
}