<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.BoardMapper">

	<!-- findall board -->
    <select id="findAll" resultType="com.example.demo.board.Board">
        SELECT b.*, c.categoryName
    	FROM board b
    	JOIN category c ON b.category_categoryID = c.categoryID
    </select>
    <select id="findAllPage" resultType="com.example.demo.board.Board">
        SELECT b.*, c.categoryName
    	FROM board b
    	JOIN category c ON b.category_categoryID = c.categoryID
    </select>
	<!-- find categoryID board -->
   <select id="findByCategoryId" resultType="com.example.demo.board.Board" parameterType="int">
        SELECT b.postName, c.categoryName, b.authorName, b.content
	    FROM board b
	    JOIN user u ON u.userID = b.user_userID
	    JOIN category c ON b.category_categoryID = c.categoryID
	    WHERE b.category_categoryID = #{categoryID}
    </select>
	<!-- find userID board -->
    <select id="findByPostId" resultType="com.example.demo.board.Board" parameterType="int">
        SELECT b.*, u.userID, c.categoryName
		FROM board b
		JOIN user u ON u.userID = b.user_userID
		JOIN category c ON c.categoryID = b.category_categoryID
		WHERE b.postID = #{postID}
    </select>

  	<insert id="insert" parameterType="com.example.demo.board.Board">
	    INSERT INTO board (postName, content, authorName, authorLink, user_userID, category_categoryID)
	    VALUES (#{postName}, #{content}, #{authorName}, #{authorLink}, #{user.userID}, #{category.categoryID})
	</insert>


	<update id="visitCnt">
    	update board set visitCnt=visitCnt+1 where postID=#{postID};
    </update> 
    
    <select id="countAll">
    	select count(*) from board;
    </select>
    
    <select id="getBoardList" resultType="com.example.demo.board.Board">
    	select * from board
    	<trim prefix="WHERE" prefixOverrides="AND|OR">			
	    	<if test="searchType=='postName' and keyword != null and keyword != '' ">
	    		AND postName like CONCAT('%', #{keyword}, '%')
	    	</if>
	    	<if test="searchType=='content' and keyword != null and keyword != '' ">				
	    		AND content like CONCAT('%', #{keyword}, '%')			
	    	</if>
	    	<if test="searchType=='authorName' and keyword != null and keyword != '' ">				
	    		AND authorName like CONCAT('%', #{keyword}, '%')			
	    	</if>			
    	</trim>
    	LIMIT #{startList}, #{listSize}
    </select>
    
</mapper>
