<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.BoardMapper">

	<!-- findall board -->
	<select id="findAll" resultType="com.example.demo.board.Board">
		SELECT b.*, c.categoryName
		FROM board b
		JOIN category c ON b.category_categoryID = c.categoryID
	</select>
	<select id="findAllPage"
		resultType="com.example.demo.board.Board">
		SELECT b.*, c.categoryName
		FROM board b
		JOIN category c ON b.category_categoryID = c.categoryID
	</select>
	<!-- find categoryID board -->
	<select id="findByCategoryId"
		resultType="com.example.demo.board.Board">
		SELECT b.*, c.categoryName
		FROM board b
		JOIN category c ON b.category_categoryID = c.categoryID
		WHERE b.category_categoryID = #{categoryID}
	</select>
	<!-- find userID board -->
	<select id="findByPostId"
		resultType="com.example.demo.board.Board" parameterType="int">
		SELECT b.*, u.userID, c.categoryName
		FROM board b
		JOIN user u ON u.userID =
		b.user_userID
		JOIN category c ON c.categoryID = b.category_categoryID
		WHERE b.postID = #{postID}
	</select>

	<!-- post write -->
	<insert id="insert_post" parameterType="com.example.demo.board.Board">
		INSERT INTO board (postName, content, authorName, authorLink, user_userID,
		category_categoryID, eventStart, eventEnd, writeDate, visitCnt)
		VALUES (#{postName}, #{content}, #{authorName}, #{authorLink},
		#{user.userID}, #{category.categoryID}, #{eventStart}, #{eventEnd}, NOW(), #{visitCnt})
	</insert>
	
	<!-- post delete -->
	<delete id="delete_post" parameterType="Integer">
		delete from board where postID = #{postID}
	</delete>

	<!-- post update -->
	<update id="update_post" parameterType="com.example.demo.board.Board">
		update board set postName = #{postName}, content = #{content}, endDate = NOW()
		where postID = #{postID}
	</update>

	<update id="visitCnt">
		update board set visitCnt=visitCnt+1 where postID=#{postID};
	</update>

	<select id="countAll">
		select count(*) from board;
	</select>
	
	<!-- search post -->
	<select id="searchCtg" resultType="com.example.demo.board.Board">
		select b.*,c.categoryID
		from board b
		join category c on b.category_categoryID=c.categoryID
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="categoryID!=null">
				AND b.category_categoryID=#{categoryID}
			</if>
			<if
				test="search.searchType=='postName' and search.keyword != null and search.keyword != '' ">
				AND b.postName like CONCAT('%', #{search.keyword}, '%')
			</if>
			<if
				test="search.searchType=='content' and search.keyword != null and search.keyword != '' ">
				AND b.content like CONCAT('%', #{search.keyword}, '%')
			</if>
			<if
				test="search.searchType=='authorName' and search.keyword != null and search.keyword != '' ">
				AND b.authorName like CONCAT('%', #{search.keyword}, '%')
			</if>
			<choose>
				<when test="order == 'visitCnt'">
					ORDER BY b.visitCnt DESC
				</when>
				<when test="order == 'eventEnd'">
					ORDER BY b.eventEnd
				</when>
				<otherwise>
					ORDER BY b.writeDate DESC
				</otherwise>
			</choose>
		</trim>
	</select>
	
	<!-- count searched post -->
	<select id="countSCR" resultType="java.lang.Integer">
		select count(*)
		from board b
		join category c on b.category_categoryID=c.categoryID
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="categoryID!=null">
				and b.category_categoryID=#{categoryID}
			</if>
			<if
				test="search.searchType=='postName' and search.keyword != null and search.keyword != '' ">
				AND b.postName like CONCAT('%', #{search.keyword}, '%')
			</if>
			<if
				test="search.searchType=='content' and search.keyword != null and search.keyword != '' ">
				AND b.content like CONCAT('%', #{search.keyword}, '%')
			</if>
			<if
				test="search.searchType=='authorName' and search.keyword != null and search.keyword != '' ">
				AND b.authorName like CONCAT('%', #{search.keyword}, '%')
			</if>
			<if test="order == 'visitCnt'">
				ORDER BY visitCnt DESC
			</if>
			<if test="order == 'writeDate'">
				ORDER BY writeDate DESC
			</if>
			<if test="order == 'eventEnd'">
				ORDER BY eventEnd
			</if>
		</trim>
	</select>
</mapper>
