<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.BoardMapper">
	<!-- board and category mapping -->
	<resultMap id="CategoryResultMap" type="com.example.demo.category.Category">
	    <id property="categoryID" column="category_categoryID"/>
	    <result property="categoryName" column="categoryName"/>
	</resultMap>
	<!-- board colum mapping -->
	<resultMap id="BoardResultMap" type="com.example.demo.board.Board">
        <id property="postID" column="postID"/>
        <result property="authorName" column="authorName"/>
        <result property="authorLink" column="authorLink"/>
        <result property="postName" column="postName"/>
        <result property="content" column="content"/>
        <result property="visitCnt" column="visitCnt"/>
        <result property="writeDate" column="writeDate"/>
        <result property="endDate" column="endDate"/>
        <result property="eventStart" column="eventStart"/>
        <result property="eventEnd" column="eventEnd"/>
        
        <!-- board foreign key and user primary key useID mapping-->
        <association property="user_userID" javaType="com.example.demo.user.User">
        <result property="userID" column="user_userID"/>
	        
	    </association>
	    <!-- board FK and category PK categoryID mapping -->
	    <association property="category_categoryID" javaType="com.example.demo.category.Category">
	        <result property="categoryID" column="category_categoryID"/>
	        <!-- using categoryID get categoryName-->
	        <result property="categoryName" column="categoryName"/>
	    </association>
	    
    </resultMap>
	<!-- sql findall board -->
    <select id="findAll" resultMap="BoardResultMap">
        SELECT b.*, c.categoryName
    	FROM board b
    	JOIN category c ON b.category_categoryID = c.categoryID
    </select>
	<!-- find categoryID board -->
   <select id="findByCategoryId" resultMap="BoardResultMap" parameterType="int">
        SELECT b.postName, c.categoryName, b.authorName, b.content
	    FROM board b
	    JOIN user u ON u.userID = b.user_userID
	    JOIN category c ON b.category_categoryID = c.categoryID
	    WHERE b.category_categoryID = #{categoryID}
    </select>
	<!-- find userID board -->
    <select id="findById" resultMap="BoardResultMap" parameterType="int">
        SELECT b.*, u.userID, c.categoryName
		FROM board b
		JOIN user u ON u.userID = b.user_userID
		JOIN category c ON c.categoryID = b.category_categoryID
		WHERE b.postID = #{postID}
    </select>


	<insert id="insert" parameterType="com.example.demo.board.Board">
    INSERT INTO board (postName, content, authorName, authorLink, user_userID, category_categoryID)
    VALUES (#{postName}, #{content}, #{authorName}, #{authorLink}, #{user_userID}, #{category_categoryID})
	</insert>
</mapper>

