<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.user.UserMapper">

	<select id="findById" resultType="com.example.demo.user.User">
        SELECT * FROM user WHERE userID = #{userID}
    </select>
    
    <select id="FindID" >
    	select userID from user
    	where userName = #{userName} and email = #{email}
    </select>
    
    <select id="FindPW" >
    	select password from user
    	where email = #{email} and userID = #{userID}
    </select>
    
    <insert id="InsertUser">
    	insert into user (userID, email, password, userName, date)
		values(#{userID}, #{email},#{password},#{userName}, NOW())
    </insert>
    
    <insert id="Login">
    	select * from user
		where userID = #{userID} and password = #{password}
	</insert>
	
	
    
</mapper>