<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardViewPageCompany</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
  	<link rel="stylesheet" th:href="@{/css/BoardViewPageArtist.css}">
</head>
<body>

    <div th:replace="~{/Fragment/header :: headerFragment}"></div>

    <!-- contents Explain Start -->
    <section class="contents-explain">
        <div class="explain-container">
            
            <div class="box-1">
                <div class="content-tittle" th:text="${post.postName}"></div>
            <div class="visit-cnt" >조회수<span th:text="${post.visitCnt}"></span></div>
            </div>

            <!-- <div class="tag-container">
                <div class="tag">#예술인펀딩</div>
                <div class="tag">#손익분배</div>
                <div class="tag">#공포</div>
                <div class="tag">#판타지</div>
            </div> -->

            <div class="box-2">
                <div class="write-user" th:text="${post.authorName}">작성자이름임<span th:text="${post.authorName}"></span></div>
                <div class="write-date" th:text="${post.endDate}">마지막 수정날짜<span th:text="${post.endDate}"></span></div>
            </div>

            <div class="content-post">
                <img th:src="${image}" alt="">
            </div>

            <!-- move positon tag Start -->
            <div class="explain-positon">
                <a href="#purpose" class="select-explan-position">프로젝트 소개</a>
                <a href="#artist-info">예술인 정보</a>
                <a href="#contact">문의하기</a>
                <!-- <form name="form1" method="post" action="/like/insert">
					<input type="hidden" name="postID" th:value="${postID}">                  
			    	<button type="submit" class="like">♥</button>
			    	<a href="#recommendation">추천</a>
				</form> -->
                
            </div>
            <!-- move positon tag End -->

            <div class="explain-content">
                <div id="purpose">
                    <div class="explain-tittle">
                        | 프로젝트 소개
                    </div>
                    <div class="explain-story"  th:utext="${post.content}"></div>
                </div>
                <div id="budget">
                    <div class="explain-tittle">
                        | 프로젝트 예산
                    </div>
                    
                </div>
            </div>

            <!-- artist info Start -->
    <section id="artist-info">
        <div class="info-box">
            <div class="info-title">예술인 정보</div>
            <div class="info-all">
                <div class="info-content-box">
                    <div class="profile-img"><img th:src="@{/images/profileImg/profile_img_1.png}" alt=""></div>
                    <div class="name-explain">
                        <div class="info-name">예술인이름</div>
                        <div class="info-explain">예술인의 정보가 궁금하다면 포트폴리오를 확인하러 가보세요!</div>
                    </div>
                </div>
                
                <div class="go-portfoilo-btn">
                    <button>포트폴리오 확인하기</button></a>
                </div>
            </div>
           
        </div>
    </section>

    <!-- contact Start -->
    <section id="contact">
        <div class="info-box">
            <div class="info-title">문의하기</div>
            <div class="info-contact">
                담당자 <span>담당자 이름</span>
            </div>
            <div class="info-contact">
                이메일 <span>예술인 이메일</span>
            </div>         
        </div>
    </section>
    <!-- contacnt End -->

    <!-- artist info End -->

            <!-- <div class="more-btn-box">
                <div class="more-btn">
                    프로젝트 설명 더보기<i class="fa-solid fa-chevron-down"></i>
                </div>
            </div> -->
        </div>

        <div class="user-container">

            <th:block th:if="${session['loggedInUser'] != null}">
                <div th:if="${post.userID == session['loggedInUser'].userID}" class="edit-btn">
                    <a th:href="@{/board/modify/{postID}(postID = ${post.postID})}" class="edit-btn">게시글 수정하기</a>
                    <a th:href="@{/board/delete/{postID}(postID = ${post.postID})}" class="edit-btn">게시글 삭제하기</a>
                </div>
            </th:block>
 
            <div class="fundinfobox">
                <!-- <div class="tag-box">
                    <div class="tag">#예술인펀딩</div>
                    <div class="tag">#손익분배</div>
                    <div class="tag">#공포</div>
                    <div class="tag">#판타지</div>
                </div> -->
                <div class="title">
                    <div class="content-tittle" th:text="${post.postName}"></div>
                </div>
                <div class="fundperiod">
                    펀딩 기간<br><span id="evtStart" th:text="${post.eventStart}"></span> ~ <span id="evtEnd" th:text="${post.eventEnd}"></span>
                	<span class="remaintime"></span>
                </div>  
                <div class="fundinfo-btnbox">
                    <div class="gofund-btn">
                        <a href="#">이 프로젝트 펀딩하러 가기</a>
                    </div>
                    <div class="space-between">
                        <!-- <div class="like-btn">
                            <i class="fa-regular fa-heart"></i>
                            <div class="like-cnt" >찜인데 아직임</div>
                        </div> -->
                        <form name="form1" method="post" action="/savelist/insert">
                            <input type="hidden" name="postID" th:value="${postID}">                  
                            <button type="submit" class="like">♥관심등록</button>
                            <!-- <a href="#recommendation">추천</a> -->
                        </form>
                    </div>
                    
                </div>
            </div>

            <!-- <div class="userinfo-container">
                <div class="userinfobox">
                    <div class="profile-img">
                        <img src="../../static/images/profileImg/profile_img_1.png" alt="">
                    </div>
                    <div class="profile-name">
                        <div class="name">이곳에 닉네임이 들어감</div>
                    </div>
                    <div class="goportfoilo-btn">
                        <a href="#">예술인의 정보 보러가기</a>
                    </div>
                </div>
    
            </div> -->
            


        </div>
    </section>
    <!-- contents Explain End -->

    
    <div class="empty"></div>


    
<!-- editors pick content -->
<section class="editors-pick">
    <div id="recommendation" class="bordelist">
        <div>이런 영화는 어떠세요?</div>
        <div class="bordelist-explain">
            현재 영화목록와 비슷한 투자목록를 선별했어요!
        </div>
    </div>
    
    <div class="readmore">
        <a href="#">
            <span>더 많은 영화투자목록 보기 </span><i class="fa-solid fa-angle-right"></i>
        </a>
    </div>
</section>


<!-- scroll content -->
<!-- <section class="scroll-content">
    <div class="wrapper">
        <i class="fa-solid fa-angle-left"></i>
        <div class="carousel">
            <div class="carousel-box">
                <a href="">
                    <img src="../../static/images/scrollImgExam/scroll-1.png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
                </a>
                
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-2.png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-3.png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-4.png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-5.png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-6.png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-7.png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-8 .png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>
            <div class="carousel-box">
                <img src="../../static/images/scrollImgExam/scroll-9 .png" alt="img">
                <div class="startDate">03월 27일 (수)</div>
                <div class="title">제 7회 서울인구심포지엄</div>
            </div>

        </div>
        <i class="fa-solid fa-angle-right"></i>
    </div>
</section> -->

<div class="empty"></div>

<!-- page up btn -->
<!-- <div class="up-btn">
    <a href="#"><i class="fa-solid fa-angle-up"></i></a>
</div> -->

<div th:replace="~{/Fragment/footer :: footerFragment}"></div>


<script th:src="@{/js/BoardViewPageArtist.js}"></script> 
</body>
</html>