<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>findID</title>
</head>
<body>
<form method="post" th:action="@{/Testmain}">
    	<div class="row">
		<div class="col">
			<button class="w-100 btn btn-secondary btn-lg" type="button" 
				th:onclick="|location.href='@{/joinForm}'|">
				회원 가입
			</button>
		</div>
		<div class="col">
			<button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'"
				th:onclick="|location.href='@{/login}'|" type="button">
				로그인
			</button>
			<button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'"
				th:onclick="|location.href='@{/FindID}'|" type="button">
				아이디 찾기
			</button>
			<button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'"
				th:onclick="|location.href='@{/FindPW}'|" type="button">
				비밀번호 찾기
			</button>
		</div>
	</div>
</form>
</body>
</html>