<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserAuthorCompany</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="../../static/css/Setting.css"> -->
    <link rel="stylesheet" th:href="@{/css/Setting.css}">
    <!-- <link rel="stylesheet" href="../../static/css/UserAuthor.css"> -->
    <link rel="stylesheet" th:href="@{/css/UserAuthor.css}">
    
</head>
<body>
    <body>
        <header class="header">
    
            <nav class="navbar">
                <!-- upper (logo, searchbar, login, acount, likelist) -->
                <div class="container">
                    <!-- logo -->
                    <a href="#" class="logo">
                        <img src="../../static/images/logo-01.png" alt="">
                    </a>
                    <div>
                        <form action="" class="search-bar">
                            <input type="text" placeholder=" 참여하고 싶은 행사나 프로젝트를 검색해보세요" name="q" id="">
                            <a href="">
                                <div class="fas fa-search" id="search-btn"></div>
                            </a>
                        </form>
                    </div>
                    <div class="link1">
                        <a href="#">로그인</a>
                        <a href="#">회원가입</a>
                        <a href="#">관심목록</a>
                    </div>
                </div>
    
                <!-- category -->
                <div class="category">
                    <!-- <div class="category-list">
                        <span>카테고리</span>
                        <div class="fas fa-solid fa-chevron-down"></div>
    
                        dropdow-menu start
                    <ul class="dropdown">
                        <li><a href="#">컨퍼런스</a></li>
                        <li><a href="#">세미나</a></li>
                        <li><a href="#">펀딩</a></li>
                    </ul>
                    </div> -->
                    <a href="#">기업행사</a>
                    <a href="#">예술인 펀딩</a>
                    <a href="#">서비스 소개</a>
                    <a href="#">Q & A</a>
                    <a href="#">공지사항</a>
                </div>
            </nav>
        </header>
    
    
        <!-- my page content Start -->
        <section class="mypage-content">
            <div class="mypage-category">
                <div class="title"> My Page</div>
                <div class="list">
                    <a href="#">- 내 정보 수정</a>
                    <a href="#">- 관심 목록</a>
                    <a href="#" class="select">- 관계자 인증 확인</a>
                </div>    
            </div>
            <div class="authorization">
                <div class="title">관계자 인증 확인</div>
                <div class="userInfo">
                    <table class="inputUserInfo">
                        <tr>
                            <th>이름</th>
                            <th>회사 및 포트폴리오 링크</th>
                            <th>증빙 자료</th>
                            <th>종류</th>
                            <th>행동</th>
                        </tr>

                        <tr th:each="request, index : ${authRequests}">
			                <td th:text="${request.name}"></td>
			                <td th:text="${request.link}"></td>
			                <td><a th:href="${fileLinks[__${index.index}__]}" >다운로드</a></td>
			                <td>
                                <span th:if="${request.authorizeID == 1}">기업인</span>
                                <span th:if="${request.authorizeID == 2}">예술인</span>
                            </td>
			                <td>
			                    <form th:action="@{/admin/authorizeRequest/{requestID}/approve(requestID=${request.requestID})}" method="post" onsubmit="return confirm('승인하시겠습니까?')">
			                        <button type="submit">승인</button>
			                    </form>
			                    <form th:action="@{/admin/authorizeRequest/{requestID}/reject(requestID=${request.requestID})}" method="post" onsubmit="return confirm('거절하시겠습니까?')">
			                        <button type="submit">거절</button>
			                    </form>
			                </td>
			            </tr>
                    </table>
                </div>
            </div>
            
        </section>
        <!-- my page content End -->
    
        <div class="empty"></div>
    
        <!-- footer start -->
        <footer class="footer">
    
            <div class="footer-first">
                <div class="link-list">
                    <a href="#">기업행사</a>
                    <a href="#">예술인 펀딩</a>
                    <a href="#">서비스 소개</a>
                    <a href="#">Q & A</a>
                    <a href="#">공지사항</a>
                </div>
            </div>
    
            <div class="footer-third">
                <div class="link-title">서비스 이용 문의</div>
                <div>채팅상담 (평일 10:00~17:00)</div>
                <div>사업 제휴 문의 whiosemail@event-tree.kr</div>         
            </div>
    
            <div class="footer-four">
                <div class="link-title company">EVENTREE</div>
                <div>(주)이벤트리 | 사업자등록번호 000-00-00000</div>
                <div>통신판매업 신고번호 제0000-0000-0000호</div>
                <div>대표 신유경 | 개인정보책임자 DB관리자</div>
                <div>광주특별시 광산구 무진대로 무역회관 7층</div>
                <!-- <div class="warning">
                    이벤트리는 통신판매중개자이며 행사에 대한 당사자 및 주최자가 아닙니다. 따라서 이벤트리는 등록된 행사에 대해 책임지지 않습니다
                </div> -->
            </div> 
            
            <div class="footer-second">
                <div class="link-list">
                    <a href="#">서비스 이용 약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="#">이메일 주소 무단수집 거부</a>
                </div>         
            </div>
            
            
    
            <div class="footer-down">
                <div class="copyright">
                    ⓒ 2024. EVENTREE All Rights Reserved.
                </div>
                <div class="sns">
                    <a href="#">X</a>
                    <a href="#">인스타</a>
                    <a href="#">카카오톡</a>
                    <a href="#">유튜브</a>
                </div>
                <!-- 나중에 sns 로고 이미지로 교체할것 -->
            </div>
    
        </footer>
</body>
</html>