* {
  box-sizing: border-box; 
  font-family: Arial, sans-serif;
}
body {
  background-color: #fff;
}
.container {
text-align: center;
border-radius: 5px;
max-width: 500px;
margin: 50px auto;
padding: 20px;
background-color: transparent; 
}

.social-login-buttons {
display: flex;
flex-direction: column;
align-items: center;
}

.social-login-button {
margin: 10px;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
display: flex;
align-items: center;
}

.social-login-button img {
width: 30px;
margin-right: 10px;
}

.social-login-button.google {
background-color: #fff;
color: #171717;
}

.social-login-button.naver {
background-color: #fff;
color: #171717;
}

.social-login-button.kakao {
background-color: #fff;
color: #171717;
}
.q{
  float: left;
}
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}
.qq{
  width: 150px;
  height: 30px;
  float: right;
  background-color: #9c9c9c;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  margin-bottom: 15px;
}
input[type="submit"],.submit {
  /* width: 100%; */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00ce80;
  color: #fff;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background-color: #00ce80;
}
.social-login-buttons {
  display: flex;
  justify-content: space-between;

}
.social-login-button {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00ce80;
  cursor: pointer;
  outline: 1.5px #00ce80 solid; 
}
.jump {
text-align: center;
}

.jump hr {
width: 50%;
}

.c {
text-align: left;
/* background-color: #fff; */
border-radius: 5px;
max-width: 400px;
margin: 10px auto;
padding: 1rem;
background-color: transparent; 
font-size: 1.6rem;
}


/* 가입하기 버튼 */
.join_box {
  width: 100%;
}

.join_box input {
  width: 100%;
  height: 50px;
  border: 1px solid #dadada;
  padding: 17px;
  border-radius: 5px;
  margin-top: 20px;
}

.join_box span {
  display: inline-block;
  font-size: 12px;
  padding-left: 1px;
}

.email_auth {
  width: 100%;
  margin-top: 10px;
}

.email_auth input {
  display: inline-block;
  width: calc(100% - 121px);
  vertical-align: top;
  margin: 0;
}

.email_auth_btn {
  display: inline-block;
  width: 118px;
  height: 50px;
  padding: 17px 1px 15px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, .15);
  background-color: #03c75a;
  color: white;
  line-height: 1;
  cursor: pointer;
}

.email_Check {
  width: 100%;
  margin-top: 10px;
}

.email_Check input {
  display: inline-block;
  width: calc(100% - 121px);
  vertical-align: top;
  margin: 0;
}

.email_Check_btn {
  display: inline-block;
  width: 118px;
  height: 50px;
  padding: 17px 1px 15px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, .15);
  background-color: #03c75a;
  color: white;
  line-height: 1;
  cursor: pointer;
}

.join_btn {
  display: block;
  width: 100%;
  padding: 17px 1px 15px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, .15);
  background-color: #03c75a;
  color: white;
  margin-top: 20px;
  font-size: 1.7rem;
  cursor: pointer;
}

#id,
#nickname {
  font: #9c9c9c;
  font-weight: bold;
  font-size: 10px;
}