
body{
    background-color: var(--board-background-color);
    overflow-x: hidden;
}

/* header Start */
.header{
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.header .logo img{
    height: 8rem;
    padding-right: 4rem;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 0.5rem 0.75rem;
    background-color: var(--white-color);
    margin-bottom: 1rem;
    border: 1px var(--grey-color) solid;
}

.search-bar input{
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    width: 40rem;
    flex: 1;
    outline: none;
    font-size: 1.6rem;
    color: var(--grey-color);
}

.search-bar .fa-search{
    margin-right: 1rem;
    font-size: 1.6rem;
}

.header .navbar .link1{
    position: absolute;
    top: 0;
    right: 0;
    padding:4.5rem 7%;
    font-size: 1.6rem;
    color: var(--black-color);
}

.header .navbar .link1 a{
    padding-right: 1rem;

}

.header .navbar a{
    color: var(--black-color);
}

.header .navbar a:hover{
    color: var(--green-color);
    transition: all 0.3s;
}

.category {
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    font-size: 1.6rem; 
}

.category div {
    padding-right: 1rem;
}

.category a {
    padding: 1rem;
}

.category .category-list{
    cursor: pointer;
    padding: 1rem;
    /* background-color: rgb(235, 235, 235); */
}

/* dropdown-menu */
/* 좀 더 괜찮게 다듬을 필요 있음 */
.dropdown li{
    display: block;
    background-color: var(--white-color);
    margin: 2rem 0rem;
}

.dropdown{
    width: auto;
    background-color: var(--white-color);
    position: absolute;
    z-index: 999;
    display: none;
    padding: 1rem;
    margin-right: 2rem;
}

.category-list:hover .dropdown{
    display: block;
}

.category-list:hover{
    color: var(--green-color);
}
/* header End */

/* img slider start */
.img-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    /* background-color: var(--green-color); */
}

.slider{
    width: 100vw;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100vw;
    height: 500px;
    object-fit: cover;
}

/* css for manual slide navigator */
.navigation-manual{
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--green-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: var(--green-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

/* css for automatic navigation */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid var(--grey-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--green-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--green-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--green-color);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--green-color);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: var(--green-color);
}
/* img slider END */


/* editor pick */
.editors-pick{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.bordelist{
    padding: 0 10rem;
    font-size: 1.8rem;
    font-weight: bolder;
}

.bordelist div:last-child{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--grey-color);
}

.readmore{
    display: flex;
    align-items: center;
    padding: 0 10rem;
    font-size: 1.5rem;
}

.readmore a{
    color: var(--grey-color);
}

.readmore a:hover{
    color: var(--green-color);
}


/* draggable images slider */
.scroll-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    /* background-color: greenyellow; */
    padding: 0 10rem;
}

.wrapper{
    max-width: 1200vw;
    position: relative;
}

.wrapper .carousel{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    max-width: 85vw;
}

.carousel .carousel-box{
    width: calc(100% / 4.5);
    margin-left: 3rem;
}

.carousel .carousel-box:first-child{
    margin-left: 0rem;
}

.carousel-box img{
    height: 14rem;
    width: 26rem;
    border-radius: 10px;
    object-fit: cover;
}

.carousel-box div{
    font-size: 1.3rem;
    color: var(--black-color);
}

.carousel-box .startDate{
    color: var(--grey-color);
    padding-top: 1.5rem;
}

.carousel-box .title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
}

/* .carousel img{
    height: 24rem;
    width: calc(100% / 4.5);
    object-fit: cover;
    margin-left: 1.4rem;
}

.carousel img:first-child{
    margin-left: 0rem;
} */

/* 웹사이트의 사이즈가 줄면 보이는 갯수가 줆 */
@media screen and (max-width:90rem){
    .carousel-box{
        width: calc(100% / 4);
    }
}

@media screen and (max-width:55rem){
    .carousel-box{
        width: calc(100% / 3);
    }
}

/* draggable images slider END */
/* editor pick END*/

.empty{
    height: 5rem;
}

footer{
    background-color: #e1e4e67a;
    font-size: 1.6rem;
    padding-left: 10rem;
    color: var(--black-color);
}

.footer > div{
    padding-top: 2rem;
}

.link-title{
    font-weight: bold;
}

.company{
    font-size: 2rem;
}

.link-list{
    justify-content: center;
    font-weight: bold;
}

.link-list a{
    padding-right: 4rem;
    color: var(--black-color);
}

.warning{
    padding-top: 1rem;
    font-weight: bold;
    color: #c54949;
}

.footer-down{
    display: flex;
    justify-content: space-between;
    padding-right: 10rem;
    padding-bottom: 4rem;
}

.sns a{
    padding: 0 2rem;
}