.contents {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  padding: 40px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid #9c9c9c;
  box-shadow: 2px 2px 2px 2px #9c9c9c;
  font-size: 15px;
}
.contents>h3 {
  text-align: center;
  margin-top:20px;
}
.contents>p {
  text-align: center;
  margin:10px;
  
}
#qwrsForm input {
  background-color: transparent;
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #9c9c9c;
}
#qwrsForm input[type="submit"] {
  width: 100%;
  height: 48px;
  color: #fff;
  font-size: 16px;
  background-color: #00ce80;
  border: 1px solid #9c9c9c;
  margin-top: 26px;
}