*{
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
  }
  body{
    background-color: black;
    color: white;
    overflow-x: hidden;
  }
  .container{
   max-width: 1200px;
   margin: 0 auto;
   box-sizing:border-box;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
  }
  header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding:  1.2rem 10rem;
    position: fixed;
    z-index: 1000;
    background-color: black;
  }
  header>a>p{
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
  }
  header >ul{
    display: flex;
  }
  header>ul>li{
    list-style-type: none;
    margin-left: 1.5rem;
  }
  header >ul>li>a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 5px;
    color: #f2f2f2;;
  }
  /* header>ul>li:first-child>a{
    border-bottom: 1px solid gray;
  } */
  header >ul>li>a:hover{
    border-bottom: 1px solid gray;
  }
  @media screen and(max-width:600px){
    header{
      flex-direction: column;
    }
  }
    
  section{
    margin-top: 100px;
    padding: 0 3rem;
    text-align: center;
  
  }
  section>p{
    margin-bottom: 1rem;
  }
  section>p:first-child{
    font-size: 4rem;
    font-weight: 800;
  }
  section>p:last-of-type{
    font-size: 1.8rem;
    font-weight: 400;
    color: #9c9c9c;
    margin-bottom: 30px;
  }
  section>a{
    display: block;
    /* border: 1px solid blueviolet; */
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    background-color:#00ce80;
    color:var(--white-color);
  }
  .btn2{ 
    display: block;
    /* border: 1px solid blueviolet; */
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
    margin-bottom: 100px;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    background-color:var(--green-color);
    color: var(--white-color);
  }
  .ce1{
    padding: 50px;
    width: 1000px;
    border-radius: 20px;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #9c9c9c;
    margin-top: 100px;
    margin-bottom: 30px;
   
  }
  .ce1>p{
    font-size: 3rem;
    font-weight: 500;
  }
  
  .ce1 .ce11{
    width: 200px;
    height: 200px;
    padding-top: 5px;
    margin-right: 50px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce1 .ce11>h6{
    margin-top: 5px;
   font-size: 1.7rem;
  }
  .ce1 .ce11>p{
    margin-top: 3px;
    font-size: 1.3rem;
  } 
  /* 2번그림 */
  .ce1 .ce12{
    width: 200px;
    height: 200px;
    padding-top: 5px;
    margin-right: 50px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce1 .ce12>h6{
    margin-top: 5px;
   font-size: 1.7rem;
  }
  .ce1 .ce12>p{
    margin-top: 3px;
   font-size: 1.3rem;
  }
  /* 3번그림 */
  .ce1 .ce13{
    width: 200px;
    height: 200px;
    padding-top: 5px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce1 .ce13>h6{
    margin-top: 5px;
   font-size: 1.7rem;
  }
  .ce1 .ce13>p{
    margin-top: 3px;
    font-size: 1.3rem;
  }
  /* 4번그림*/
  .ce1 .ce21{
    width: 200px;
    height: 200px;
    padding-top: 5px;
    margin-right: 50px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce1 .ce21>h6{
    margin-top: 5px;
   font-size: 1.7rem;
  }
  .ce1 .ce21>p{
    margin-top: 3px;
    font-size: 1.3rem;
  }
  /* 5번 그림 */
  .ce1 .ce22{
    width: 200px;
    height: 200px;
    padding-top: 5px;
    margin-right: 50px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce1 .ce22>h6{
    margin-top: 5px;
   font-size: 1.7rem;
  }
  .ce1 .ce22>p{
    margin-top: 3px;
    font-size: 1.3rem;
  }
  /* 6번그림 */
  .ce1 .ce23{
    width: 200px;
    height: 200px;
    padding-top: 5px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce1 .ce23>h6{
    margin-top: 5px;
    font-size: 1.7rem;
  }
  .ce1 .ce23>p{
    margin-top: 3px;
    font-size: 1.3rem;
  }
  .ce4{
    padding: 70px;
    width: 1000px;
    border-radius: 20px;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #9c9c9c;
    margin: 30px;
  }
  .ce4 >h3{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }
  .ce4 >p{
    font-size: 1.5rem;
    font-weight: 300;
    color: #9c9c9c;
  }
  .ce4 .ce41{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f1f3f5;
    text-align: center;
    padding-top: 60px;
    margin-left: 20px; 
    margin-right: 50px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce4 .ce41 >h3{
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    color: #8d71dd;
  }
  .ce4 .ce41 >p{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 400;
    color: #111;
  }
  .ce2{
    padding: 40px;
    width: 1000px;
    border-radius: 20px;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #9c9c9c;
    margin: 30px;
  }
  .ce2 >h3{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }
  .ce2 >p{
    font-size: 1.5rem;
    font-weight: 300;
    color: #9c9c9c;
  }
  .ce2 .ce123{
    width: 240px;
    height: auto;
    border-radius: 10%;
    background-color: #f1f3f5;
    text-align: left;
    padding: 20px;
    margin-right: 40px;
    margin-top: 20px;
    display: inline-block;
  }
  .ce2 .ce123 >h3{
    margin-top: 5px;
    font-size: 1.7rem;
    color: #3A84E8;
  }
  .ce2 .ce123 >p{
    margin-top: 5px;
    font-size: 1.3rem;
  }

  .ce3{
    padding: 40px;
    width: 1000px;
    border-radius: 20px;
    height: auto;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px 2px #9c9c9c;
    margin: 30px;
  }
  .ce3 >h3{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  .qa {
    border-bottom: 1px solid gray;
    padding: 20px;
    margin: 10px;
  }
  .ce3 .Q{
    font-size: 2rem;
    font-weight: 450;
    /* display: inline-block; */
  }
  .ce3 .A{
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    /* border-bottom: 1px solid gray; */
    /* display: inline-block; */
  }

  .start-btn2{
    width: 127%;
    background-color: var(--white-color);
  }

  .start-btn2 p{
    color: var(--black-color);
  }

  .start-btn2 p:first-child{
    padding-top: 10rem;
  }

  .start-btn2 p :last-child{
    color: var(--gret-color);
  }



  /* footer Start */
  footer{
    background-color: #f0f0f0;
    width: 127%;
    font-size: 1.6rem;
    padding-left: 10rem;
    color: var(--black-color);
    clear: both;
  }
  
  .footer > div{
    padding-top: 2rem;
  }
  
  .link-title{
    font-weight: bold;
  }
  
  .company{
    font-size: 2rem;
  }
  
  .link-list{
    justify-content: center;
    font-weight: bold;
  }
  
  .link-list a{
    padding-right: 4rem;
    color: var(--black-color);
  }
  
  .warning{
    padding-top: 1rem;
    font-weight: bold;
    color: #c54949;
  }
  
  .footer-down{
    display: flex;
    justify-content: space-between;
    padding-right: 10rem;
    padding-bottom: 4rem;
  }
  
  .sns a{
    padding: 0 2rem;
  }