@import url('https://webfontworld.github.io/sunn/SUIT.css');

:root{
    /* color */
    --green-color:#00ce80;
    --light-green-color: #f0f8f2;
    --grey-color:#9C9C9C;
    --light-grey-color : #d3d3d3;
    --white-color:#ffffff;
    --black-color:#171717;   
    --board-background-color : #fafcf9;
    --red-color : #b84747;
    --light-red-color :#ffd9d9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SUIT','Roboto', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
