<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Q & A</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/Setting.css}">
  <link rel="stylesheet" th:href="@{/css/qa.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
 <!-- header Start -->
 <header class="header">

  <nav class="navbar">
      <!-- upper (logo, searchbar, login, acount, likelist) -->
      <div class="container">
          <!-- logo -->
          <a href="#" class="logo">
              <img th:src="@{/images/logo-01.png}" alt="">
          </a>
          <div>
              <form action="" class="search-bar">
                  <input type="text" placeholder=" 참여하고 싶은 행사나 프로젝트를 검색해보세요" name="q" id="">
                  <div class="fas fa-search" id="search-btn"></div>
              </form>
          </div>
          <div class="link1">
              <a href="#">로그인</a>
              <a href="#">회원가입</a>
              <a href="#">관심목록</a>
          </div>
      </div>

      <!-- category -->
      <div class="category">
          <a href="#">기업행사</a>
          <a href="#">예술인 펀딩</a>
		  <a th:href="@{http://localhost:8085/mypage/serviceintroduce}">서비스 소개</a>
		  <a th:href="@{http://localhost:8085/mypage/qa}">Q & A</a>  	             
          <a th:href="@{http://localhost:8085/mypage/notice}">공지사항</a>
      </div>
  </nav>
</header>
<!-- header End -->
    <div class="notice">
      <h1>Q & A</h1> <br> <hr> <br>
      <ul>
        
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 어떤 프로젝트나 행사를 게시할 수 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 이벤트리는 모든 분야에서 활동하는 회사와 창작자들이 자유롭게 프로젝트를 게시할 수 있는 열린 공간이지만, 커뮤니티의 신뢰와 안전을 위해 심사 기준을 위반한 프로젝트는 게시불가 조치를 하고 있습니다</p> 
          </div>
        </li> 
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트를 언제 준비하고 진행하면 좋을까요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 조금이라도 결과물을 선보일 수 있는 포스트 프로덕션에서 펀딩을 진행하는 것이 유리할 수는 있겠지만, 정답은 아닙니다. 
              <br>
              <br>작업 과정에서 추가적인 자금이 필요할다면 언제든 때에 맞춰 크라우드 펀딩을 진행하세요. 만약 시리즈물을 준비하고 있다면, 한 시즌 전체에 필요한 제작비를 한 번에 모금 받기보다는 에피소드 별로 나눠서 프로젝트를 진행 할 수도 있습니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 완성된 영화를 혜택으로 제공해야 하나요? 무엇을 혜택으로 제공해야 할까요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 이벤트리는 후원자에게 물성이 있는 선물부터 디지털 형태는 물론, 특별한 경험을 선물할 수도 있습니다. 영화를 만든다고 해서 꼭 영화를 선물로 주어야 하는 것은 아닙니다.
            <br><br>
            이벤트리는 무명인 감독이나 배우진이 만드는 작품이더라도, 영화의 기획 의도 자체에 관심을 두고 이에 공감하여 후원을 결정하는 분이 많습니다. 그렇다면 촬영의 비하인드 소식을 알 수 있는 소식지부터 연출자와의 미팅 등을 통해 자세히 영화를 알 수 있고, 배우로 참여하는 등 제작에 참여할 수 있는 선물이 그들에겐 더 매력적일 것입니다.
            <br><br>
            무엇보다 내 영화를 어떤 후원자가 주로 후원할 것인지를 파악하는 것이 가장 중요합니다.
            <br><br>
            지인 후원이 차지하는 비중이 가장 클 것이라고 예상한다면, 간단한 손편지부터 그들을 영화 촬영에 초대하거나 이후 그들의 작업에 나를 무료로 사용할 수 있는 사용권을 배치해보세요. 
            <br><br>
            특정 사회 이슈에 관심이 있는 단체의 후원을 예상한다면, 단체와 함께 할 수 있는 워크숍이나 공동체 상영 및 감독과의 대화 등을 생각해볼 수 있습니다.
            <br><br>
            특정 장르에 관심이 있는 팬의 후원을 예상한다면, 이 영화를 떠올리는 데 도움이 되웠던 장르 영화에 대한 소개 등의 리뷰를 PDF로 묶어 전송하거나 뉴스레터로 만들어보는 것도 방법이 될 수 있습니다
        </p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 전 제작까지 너무 오래 걸립니다. 진행 일정과 전달 기간을 어떻게 잡아야할까요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 이벤트리에서 권장하는 프로젝트 진행 기간은 30일이며, 성공한 영화 프로젝트의 평균 진행 기간은 29일입니다. 
              <br><br>
              하지만 필요한 제작비의 규모가 크다면, 꼭 30일을 따를 필요는 없습니다. 실제로 성공한 영화 프로젝트 중 목표 금액이 천만 원 이상을 모금하는 데 성공한 프로젝트의 평균 진행 기간은 약 38일, 오천만 원 이상을 모금하는 데 성공한 프로젝트의 평균 진행 기간은 40일로 긴 편입니다.
              <br><br>
              특히 프로젝트 마감 이후 실제 완성까지 오래 걸리는 영화 프로젝트의 경우에는, 오히려 진행 기간을 길게 잡는 것이 더 효과적일 수도 있습니다. 대신 그 긴 프로젝트 기간 동안 계속해서 후원자의 관심이 식지 않도록 새로운 소식을 올리는 노력이 필요합니다.
              <br><br>
              선물(혜택) 전달 기간 역시 빠듯하게 잡지 마세요. 영상 작업은 언제나 변수가 있기 마련입니다. 특히 규모가 큰 프로젝트일수록 전달 기간은 여유롭게 잡아주세요. 
              <br><br>
              목표 그램이 천만 원 이상인 성공 프로젝트의 마감 후 전달까지의 평균 기간은 92일이지만, 1년이 넘는 프로젝트도 많습니다. 대신 그만큼 작업 과정에 대한 공유를 활발히 해줘야 믿고 기다릴 수 있습니다. 한 명의 후원자는 단순히 내 영화를 보러 와주는 한 명의 관객이 아니라, 열 명, 백 명, 혹은 그 이상의 관객을 데리고 올 수 있는 나의 '슈퍼 팬'이 되어줄 수 있습니다.
            </p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 대표 포스터가 없는데, 대표 이미지는 어떻게 해야 하나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 물론 포스터를 활용해 대표 이미지를 제작한다면 가장 좋겠지만, 꼭 그럴 필요는 없습니다. 포스터가 없다고 걱정하지 마세요. 아직 만들어지지 않은 영화의 포스터가 없는 게 이상한 일은 아니기 때문입니다.
              <br><br>
              현장감을 잘 드러내는 촬영 현장 사진을 활용하거나, 영화를 함께 만드는 팀의 단체 사진을 활용하세요. 영화의 분위기를 가장 잘 나타낼 수 있는 스틸컷이 있다면, 이를 적극적으로 활용하셔도 좋습니다. 단순한 배경에 영화 타이틀만 적힌 이미지보다는 훨씬 프로젝트를 더 잘 설명해줄 수 있는 이미지가 되어줄 수 있습니다.
            </p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 어떤 걸 프로젝트 소개에 적어야 할까요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 이벤트리 프로젝트 소개는 내 프로젝트를 알릴 수 있는 가장 중요한 요소입니다. 후원자는 물론 창작물이 어떤 내용을 담고 있는지, 어떤 배우가 나오는지, 감독이 누구인지에 대해서 기본적으로 궁금해 할 수 있습니다. 
              <br><br>
              하지만 이는 극장이나 스트리밍 서비스에서 영화 관람을 선택하는 기준에 가까우며, 아직 만들어지지 않은 영화에 대해 '후원'하는 기준과 완전히 일치하지 않을 것입니다. 창작물의 시놉시스나 줄거리 요약, 배우나 스태프의 필모그래피를 단순하게 열거하는 것은 그다지 효과적이지 않습니다.
              <br><br>
              오히려 프로젝트에 들어온 후원자는 이 영화의 아이디어가 어떻게 시작되었고, 이 이야기나 주제에 대한 당신의 생각과 신념은 무엇인지 (왜 이런 이야기로 작업을 하고 있는지), 어떤 과정을 겪으며 제작하고 있는지 등의 이야기를 더 궁금해합니다. 
              <br><br>
              포기하고 싶었던 순간이 있었다면, 이를 솔직하게 전면에 드러내도 괜찮습니다. 반대로 지난한 창작의 과정에서 용기를 얻을 수 있었던 행운이나 순간이 있었다면 이를 얘기해보세요. 
              <br><br>
              후원을 부르는 이야기는 창작자가 만들고자 하는 이야기가 아니라 오히려 창작자의 이야기일 가능성이 높습니다. 이 점을 꼭 기억해주세요.
            </p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 다 작성했습니다! 어떻게 알려야 할까요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 프로젝트의 성공 핵심은 창작자의 주변 커뮤니티를 적극적으로 이용하는 것입니다. 특히 단편 영화 프로젝트의 성공 동력은 대부분 창작자님의 주변 네트워크에서 이루어집니다. 이미 작업에 대해서 익히 알 소 있는 주변 지인은 물론, 창작 활동을 응원해주는 가족, 친구들은 물론 그들의 지인들에게도 적극적으로 알려야 합니다.
              <br><br>
            이메일, 문자, 카카오톡, 전화 등 활용할 수있는 모든 수단을 떠올리세요. 단순히 후원을 도와달라기보다는, 이를 완성하기 위해선 당신의 관심이 필요하니 주변에도 알려주면 좋겠다는 메시지와 함께 전달하는 것이 좋습니다.
            <br><br>
            SNS를 활용하는 것도 좋은 방법입니다. 이미 운영하는 계정이 있다면, 이를 적극적으로 활용하세요. SNS 플랫폼 특성에 맞춰 홍보를 하는 것도 훌륭한 방법입니다.
            <br><br>
            SNS를 하고 있지 않다면, 내가 몸을 담고 있거나 창작물과 관련이 있는 커뮤니티를 찾아보세요. 필름메이커스를 물론 교내 온라인 커뮤니티 등을 활용하는 것도 좋은 방법입니다.
            <br><br>
            혹은 주변을 둘러보세요. SNS를 내가 하고 있진 않더라도, 작업을 함께 하는 동료 중에서는 하는 사람이 있을 겁니다. 창작자 가까이에 유투버가 있을지도 모르는 일입니다! 혼자만 해야 한다고 생각하지 말고, 함께 작업하는 주변 스태프에게 도움의 손길을 내밀어보세요.
            </p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트를 등록한 후에 어떻게 관리해야 하나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 프로젝트가 등록된 후에는 후원자들과의 소통을 유지하고 업데이트를 제공하여 프로젝트 진행 상황을 공유해야 합니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 후원한 프로젝트가 실패할 경우 환불을 받을 수 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 행사와 프로젝트 관련한 정보를 게시할 뿐이며 직접적인 결제기능을 지원하지 않기때문에 이벤트리에서 이와 같은 부분은 관여하지 않습니다. 하지만 각 회사와 예술인의 정책에 따라 대부분 환불을 해주는 것이 평균적입니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트에 사용된 콘텐츠의 저작권 문제는 어떻게 해결되나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 이벤트리는 저작권 침해에 대한 책임을 지지 않으며, 프로젝트 창작자는 저작권 문제를 해결하기 위해 적절한 조치를 취해야 합니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트 수익에 대한 세금이 있나요? 플랫폼 수수료는 어떻게 되나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 수익에 대한 세금은 국가 및 지역에 따라 다를 수 있으며, 이벤트리는 후원금의 일부를 수수료로 공제하진 않습니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 이벤트리에서 제공하는 추가 서비스나 기능은 무엇이 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 이벤트리는 마케팅 지원, 후원자 관리 도구, 프로젝트 통계 등을 지원하고 있습니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트를 등록하려면 어떤 정보가 필요한가요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 프로젝트 등록에 필요한 정보로는 프로젝트의 목표, 설명, 보상 및 마감일 등이 있습니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 후원자로서 어떤 혜택을 받을 수 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 후원자는 다양한 보상을 통해 프로젝트 창작자의 작품을 받거나 프로젝트에 참여할 수 있습니다.
              <br><br>
              또한 수익분배, 고정수익을 통해 금전적인 보상을 받을 수 있습니다.
            </p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트가 목표 금액을 달성하지 못하면 어떻게 되나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 목표 금액을 달성하지 못한 경우 후원금은 후원자들에게 반환되며 프로젝트는 실행되지 않습니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트가 진행되는 동안 어떻게 업데이트를 받을 수 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 프로젝트 창작자는 프로젝트 진행 상황을 업데이트하고 후원자들에게 소식을 공유할 수 있습니다.
              <br><br>
              특히 창작의 SNS를 통해 최선 정보를 볼 수 있습니다.
            </p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 보상은 어떻게 제공되나요? 언제 받을 수 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 보상은 프로젝트가 성공하고 마감된 후에 제공되며 배송 시간은 보상의 종류와 지역에 따라 다를 수 있습니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 투자 시 원금은 보장되나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 펀더풀의 모든 투자 상품은 원금손실 위험이 존재합니다. 따라서 투자자는 해당 투자 상품의 제공사,
              참여인력의 크레딧, 투자 상품 예산, 손익분기점 등을 면밀하게 검토한 후에 투자에 참여하여야 합니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 원하는 프로젝트를 어떻게 찾을 수 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 이벤트리는 키워드로 프로젝트를 검색할 수 있는 기능을 제공합니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 투자한 금액은 언제 정산 받을 수 있나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 투자한 투자 상품의 채권 만기일에 ‘예치금 계좌’에 정산금이 입금됩니다. 단 투자 상품에 따라 채권 만기일 이전에 정산금을 분할하여 지급하는 경우도 있으므로 투자 전 투자설명서를 꼭 확인해야 합니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 프로젝트를 변경하거나 취소할 수 있나요? 어떤 조치를 취해야 하나요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 기본적으로 해당 작성자는 게시글을 수정 및 삭제 할 수 있습니다. 그러나 예기치 못한 사정으로 불가능 할 시 이벤트리 문의처로 연락을 주시면 대신 수정 및 삭제 조치를 해드립니다.</p>
          </div>
        </li>
        <li>
          <h3>
            <a href="#" target="_blank" class="content-wrapper">Q. 손실과 이익의 발생 기준은 무엇인가요?</a>
            <span class="expand-btn" onclick="toggleContent(this)">[ ▲ ]</span>
          </h3>
          <div class="content">
            <p>A. 각 프로젝트마다 설정된 손익분기점 기준 매출액이 있습니다. 해당 프로젝트의 결과에 따라 총 매출에서 총
              제작비를 차감한 후 잔여 손익금을 투자자 지분별로 배분됩니다. 예를 들어 영화의 경우 개봉으로 인한 수익금,
              부가 판권(IPTV/OTT 서비스 등)을 통한 매출에서 총 제작비를 차감 후 투자자 지분별로 배분됩니다.
              드라마/웹툰/스테이의 경우도 마찬가지로 투자 기간 내 총 매출에서 총 비용을 차감한 손익을 투자자 지분별로 배분하게 됩니다.
              프로젝트별 예산의 경우 해당 주관사와 공동투자기관 등에 의해 통제되며, 별도의 자금관리 절차에 따라 투명하게 운영됩니다.</p>
          </div>
        </li>
      </ul>
      <a href="#" id="load" class="more">더 보기</a>
    </div>
    <footer class="footer">

		<div class="footer-first">
		            <div class="link-list">
		                <a href="#">기업행사</a>
		                <a href="#">예술인 펀딩</a>
		                <a th:href="@{http://localhost:8085/mypage/serviceintroduce}">서비스 소개</a>
		                <a th:href="@{http://localhost:8085/mypage/qa}">Q & A</a>
		                <a th:href="@{http://localhost:8085/mypage/notice}">공지사항</a>
		            </div>
		        </div>

      <div class="footer-third">
          <div class="link-title">서비스 이용 문의</div>
          <div>채팅상담 (평일 10:00~17:00)</div>
          <div>사업 제휴 문의 whiosemail@event-tree.kr</div>         
      </div>

      <div class="footer-four">
          <div class="link-title company">EVENTREE</div>
          <div>(주)이벤트리 | 사업자등록번호 000-00-00000</div>
          <div>통신판매업 신고번호 제0000-0000-0000호</div>
          <div>대표 신유경 | 개인정보책임자 DB관리자</div>
          <div>광주특별시 광산구 무진대로 무역회관 7층</div>
          <!-- <div class="warning">
              이벤트리는 통신판매중개자이며 행사에 대한 당사자 및 주최자가 아닙니다. 따라서 이벤트리는 등록된 행사에 대해 책임지지 않습니다
          </div> -->
      </div> 
      
      <div class="footer-second">
          <div class="link-list">
              <a href="#">서비스 이용 약관</a>
              <a href="#">개인정보처리방침</a>
              <a href="#">이메일 주소 무단수집 거부</a>
          </div>         
      </div>
      
      

      <div class="footer-down">
          <div class="copyright">
              ⓒ 2024. EVENTREE All Rights Reserved.
          </div>
		  <div class="sns">
		              <a href="#"> <img th:src="@{/images/icons/kakao.png}" alt="Kakao Icon"></a>
		              <a href="#"> <img th:src="@{/images/icons/naver blog.png}" alt="Naverblog Icon"></a>
		              <a href="#"> <img th:src="@{/images/icons/twitterX.png}" alt="Twitter Icon" /></a>
		              <a href="#"> <img th:src="@{/images/icons/instagram.png}" alt="Instagram Icon"></a>
		              <a href="#"> <img th:src="@{/images/icons/youtube.png}" alt="Youtube Icon" ></a>
		          </div>
      </div>

  </footer>

  <script>
    $(document).ready(function() {
    var itemsToShow = 10;
    var loadButton = $("#load");
    var listItems = $(".notice ul li");

    listItems.slice(itemsToShow).hide();

    loadButton.click(function(e) {
        e.preventDefault();
        var hiddenItems = listItems.filter(":hidden");
        var itemsToLoad = hiddenItems.slice(0, 5);
        itemsToLoad.slideDown();
        
        // 숨겨진 아이템이 1개 이상일 때 알람 표시
        if (hiddenItems.length === 0) {
            alert("끝입니다.");
        }
    });
})

var isContentVisible = false; // 추가 변수

function toggleContent(button) {
  var content = $(button).parent().next(".content");
  content.slideToggle();
  isContentVisible = !isContentVisible; // 상태를 반전시킴
  $(button).text(isContentVisible ? "[ ▼ ]" : "[ ▲ ]"); // 상태에 따라 버튼 텍스트 설정
}
  </script>
</body>
</html>
