<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
    <h1>게시판</h1>
    <table>
        <thead>
            <tr>
                <th>게시물 제목</th>
                <th>작성자</th>
				<th>조회수</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
				<td><a th:href="@{/board/{postID}(postID=${post.postID})}" th:text="${post.postName}"></a></td>
				<td th:text="${post.user_userID != null ? post.user_userID.userName : 'Unknown'}"></td>
				<td th:text="${post.visitCnt}"></td>
				<td th:text="${post.writeDate}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>