<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-wrapper">
        <img src="../로고.png" alt=""> <br>
        <h2>Login</h2>
        <form method="post" action="/login" id="login-form"> 
            이메일(ID)<input type="text" name="userID" placeholder="Email">
            비밀번호<input type="password" name="password" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check" name="remember">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form>
        <div class="login-btn-container">
             <a href="https://accounts.google.com/">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAyNDAzMTRfMTA3/MDAxNzEwNDE1MDA3ODA4.BojKW05K-ezNUun178f6GI7ivSak2B_Xp_r77tYmERAg.No5u4HwYC627n29dN3sBPeEOKd2XUQKFry7hSkqtS1Ug.PNG/2048px-Google__G__logo.svg-removebg-preview.png?type=w800" alt="Google 아이콘">
            </a>
            <a href="https://nid.naver.com/nidlogin.login?mode=form&url=https://www.naver.com/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaPmU64Oyd54B54AUfP0VFCv7_p8IAZgYk1g&usqp=CAU" alt="네이버 아이콘">
            </a> 
            <!--카카오 로그인-->
            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=d8210181014bdef72e054b61cdc86fec&redirect_uri=http://localhost:8085/oauth/kakao/callback">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoQzZidS00wQAWO5Q2ehhI55lgpqIj79l-pg&usqp=CAU" alt="카카오톡 아이콘">
            </a>
        </div>
    </div>
</body>
</html>