<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인증</title>
  <link rel="stylesheet" href="../../static/css/Setting.css">
  <link rel="stylesheet" href="../../static/css/cerId.css">
</head>

<body onload="startCountdown()">
  <div class="container">
    <div class="header"></div>
    <div class="contents">
      <h3>인증 번호 입력</h3> <br>
      <p>회원님의 이메일에 전송된 <br>
        인증 번호를 입력하세요!</p><br>
      <form th:action="@{/cerid}" method="post" id="ceridForm">
        인증 번호 <input type="text" id="numInput" name="token" placeholder="인증번호">
        <span id="message" class="error-message"></span>
        <br>
        <button type="submit" value="확인" onclick="return checkAuth()">확인</button>

      </form>

      <!-- 타이머 영역 추가 -->
      <div id="timerSection" style="display:none;">
        <p id="timerMessage"></p>
      </div>

    </div>
    <div class="footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
      function checkAuth() {
        // 입력된 인증 번호를 가져옵니다.
        var inputNumber = document.getElementById("numInput").value;
        var tokenPattern = /^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/;

        if (inputNumber == "") {
          alert("토큰값을 입력해주세요.");
          return false;
        }

        if (!tokenPattern.test(inputNumber)) {
          alert("올바른 토큰값을 입력해주세요.");
          return false;
        }

        $.ajax({

          url: "/cerid",
          type: "POST",
          dataType: "json",
          data: { token: inputNumber },

          success: function (response) {

            console.log(response);

            var redirectUrl = response.redirectUrl;
            var message = response.message;

            console.log(redirectUrl);
            console.log(message);

            alert(message); // 서버에서 보낸 메시지를 알림으로 표시
            window.location.href = redirectUrl; // 리다이렉트

          },
          error: function () {

            alert("서버 오류가 발생했습니다.");

          }
        }, 1000);
      }
    </script>
  
  </body>
  
  </html>
