<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인증</title>
  <link rel="stylesheet" th:href="@{css/Setting.css}">
  <link rel="stylesheet" th:href="@{css/cerPw.css}">
</head>

<body onload="startCountdown()">
  <div class="container">
    <div class="header"></div>
    <div class="contents">
      <h3>인증 번호 입력</h3> <br>
      <p>회원님의 이메일에 전송된 <br>
        인증 번호를 입력하세요!</p><br>

      <form th:action="@{/cerpw}" method="post" id="cerpwForm">

        인증 번호 <input type="text" id="numInput" name="token" placeholder=>
        <span id="message" class="error-message"></span>
        <div id="timerMessage" style="color: red;"></div> <!-- 타이머 메시지를 표시할 요소 -->

        <button type="submit" value="확인" onclick="return checkAuth()">확인</button>

      </form>
    </div>
    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">

      function startCountdown() {
        var timerMessage = document.getElementById("timerMessage");

        var countDownDate = new Date().getTime() + (5 * 60 * 1000); // 현재 시간 + 5분

        // 1초마다 타이머 업데이트
        var timerInterval = setInterval(function () {
          var now = new Date().getTime();
          var distance = countDownDate - now;

          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // 타이머 메시지 업데이트
          timerMessage.textContent = "유효 시간: " + minutes + "분 " + seconds + "초";

          // 타이머가 만료되면 폼을 숨기고 메시지 표시
          if (distance < 0) {
            clearInterval(timerInterval);
            timerMessage.textContent = "인증 번호 유효 시간이 종료되었습니다.";
            // 타이머 만료 시 페이지 이동
            window.location.href = "/searchPw.html"; // 리디렉션
          }
        }, 1000);
      }

      function checkAuth() {
        // 입력된 인증 번호를 가져옵니다.
        var inputNumber = document.getElementById("numInput").value;
        var tokenPattern = /^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/;

        if (inputNumber == "") {
          alert("토큰값을 입력해주세요.");
          return false;
        }

        if (!tokenPattern.test(inputNumber)) {
          alert("올바른 토큰값을 입력해주세요.");
          return false;
        }

        $.ajax({

          url: "/cerpw",
          type: "POST",
          dataType: "json",
          data: { token: inputNumber },

          success: function (response) {

            console.log(response);

            var redirectUrl = response.redirectUrl;
            var message = response.message;

            console.log(redirectUrl);
            console.log(message);

            alert(message); // 서버에서 보낸 메시지를 알림으로 표시
            window.location.href = redirectUrl; // 리다이렉트

          },
          error: function () {

            alert("서버 오류가 발생했습니다.");

          }

        });

        // 기본 동작 방지
        return false;

      }

    </script>

</body>

</html>
