<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디 알려주기</title>
  <style>
    .contents {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 415px;
      padding: 40px;
      box-sizing: border-box;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      border: 1px solid #9c9c9c;
      box-shadow: 2px 2px 2px 2px #9c9c9c;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" th:href="@{/css/Setting.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
  <div class="container">
    <div class="header"></div>
    <div class="contents">
      <br><br><br><br>
      <h3>등록된 아이디는</h3>
      <br>
      <p th:text="${data + ' 입니다.'}"></p>
      <br>

    </div>

    <div class="footer"></div>
    <script>
    </script>
</body>

</html>