<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 재설정</title>
  <link rel="stylesheet" href="../../static/css/Setting.css">
  <link rel="stylesheet" href="../../static/css/pwrs.css">
</head>

<body>
  <div class="container">
    <div class="header"></div>
    <div class="contents">
      <h3>비밀번호 재설정</h3>
      <br>
      <p>비밀번호를 재입력해주세요.</p>
      <br>
      <form th:action="@{/cerpw/pwrs}" method="post" id="qwrsForm">
        비밀번호 입력 <input type="password" id="password1">
        비밀번호 확인 <input type="password" id="password2" name="pwNew">
        <input type="submit" value="확인" onclick="return checkPasswords()">
      </form>
    </div>
    <div class="footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">

      function checkPasswords() {
        var password1 = document.getElementById("password1").value;
        var password2 = document.getElementById("password2").value;

        if (password1 === null) {
          console("새로운 비밀번호를 입력해주세요.");
          return false;
        }

        if (password1.trim() === '' || password2.trim() === '') {
          alert("비밀번호 확인을 해주세요.");
          return false;
        }
        if (password1 !== password2) {
          alert("비밀번호가 일치하지 않습니다. 다시 입력해주세요.");
          return false;
        } else {
          alert("비밀번호 변경 완료!");
          location.replace("/Testmain");
        }

       }

    </script>

</body>

</html>