<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <style>
        .post-detail {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
		
    </style>
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Post Detail</h1>
	
    <div class="post-detail">
        <p>Title: <span th:text="${post.postName}"></span></p>
        <p>Category: <span th:text="${post.categoryName}"></span></p>
        <p>Author: <span th:text="${post.authorName}"></span></p>   
        <p>Event Date: <span th:text="${post.eventStart}"></span> ~ <span th:text="${post.eventEnd}"></span></p>
        <p>Content: <span th:text="${post.content}"></span></p>
    </div>
	<p class="btn_set">
	        <a th:href="@{/board/modify/{postID}(postID = ${post.postID})}" class="modify">수정</a>
	        <a th:href="@{/board/delete/{postID}(postID = ${post.postID})}" class="delete">삭제</a>
	        <a th:href="@{/board}" class="back">뒤로</a>
			<form name="form1" method="post" action="/like/insert">
				<input type="hidden" name="postID" th:value="${postID}">                  
			    <button type="submit" class="like">♥</button>
			</form>
    </p>

	
	
</body>
</html>
