<html>
<head>
<meta charset="UTF-8">
<title>관심 목록</title>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function(){
   $("#btnList").click(function(){
      location.href="/board";
   });

   $("#btnDelete").click(function(){
      if(confirm("관심 목록을 삭제하시겠습니까?")){
         location.href="/like/deleteAll";
      }
   });

   $("a.deleteLink").click(function(e){
      if(!confirm("삭제하시겠습니까?")){
         e.preventDefault();
      }
   });
   
   // 관심 목록 비었을 때 실행
   document.addEventListener('DOMContentLoaded', () => {
           const emptyMessage = document.getElementById('emptyMessage');
           const list = document.getElementById('list');
   
           if (list.children.length === 0) {
               emptyMessage.style.display = 'block';
           } else {
               emptyMessage.style.display = 'none';
           }
       });
});
</script>
</head>

<body>
	
	<h1>관심 목록</h1>
	<div id="emptyMessage" style="display: none;">
	    관심 목록이 비어있습니다.
	</div>
	    	<div class="like_list">
			<table border="1" width="250px" style="text-align: center;">
				<tr>
					<th>번호</th>
					<th>작성자</th>
					<th>게시물 번호</th>
					<th>&nbsp;</th>
				</tr>
			    <tr th:each="like : ${map.list}">
			    	<td th:text="${like.likeID}"></td>
			        <td th:text="${like.userID}"></td>
			        <td th:text="${like.postID}"></td>
					<td><a th:href="@{/like/delete/{likeID}(likeID = ${like.likeID})}" class="deleteLink">삭제</a></td>
			    </tr>
			</table>
			</div>
		<p></p>
		<button type="button" id="btnDelete">관심목록 비우기</button>
		<button type="button" id="btnList">목록</button>
</body>
</html>